<!DOCTYPE html>
<html lang="ar">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3WJNPVH4ZD"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-3WJNPVH4ZD');
    </script>
    <!-- SEO -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Space Youth Forum | ููุชุฏู ุดุจุงุจ ุงููุถุงุก">
    <meta name="description" content="ููุชุฏู ุดุจุงุจ ุงููุถุงุก ูู ุฃูู ูููุน ูู ุงููุทู ุงูุนุฑุจู ููุฏู ุฅูู ูุดุฑ ุนูู ุงูููู ุจูู ุงููุดุก ู ุงูุดุจุงุจ ูู ูุฎุชูู ุงูุฃุนูุงุฑ ูุฎูู ุฌูู ุทููุญุฉ ุงููุถุงุก ูุชุทูุนุงุชู ุชุตู ุงูู ุงูุณูุงุก">
    <meta name="keywords" content="SYF , Youth Space , space youth Forum , space , astronomy , Space Youth Forum,Nasa Egypt,Nasa , ุงููุฒูุงุก ุงูููููุฉ , ุฑูุงุฏ ุงููุถุงุก , world youth forum , ููุชุฏู ุดุจุงุจ ุงูุนุงูู ,ููุชุฏู ุดุจุงุจ ุงููุถุงุก , ุนูู ุงูููู , ุงููุถุงุก,ุนุฌุงุฆุจ ุงููุถุงุก">
    <meta name="auther" content="ููุชุฏู ุดุจุงุจ ุงููุถุงุก">
    <meta name="theme-color" content="#0095fc">
    <meta name="robots" content="index,follow">
    <meta name="bm-monitoring" content="website">
    <meta name="google-site-verification" content="googlea8e9470ac4581a73.html"/>
    
    <!-- End SEO -->
    <meta property="og:site_name" content="Space youth Forum | ููุชุฏู ุดุจุงุจ ุงููุถุงุก"/>
    <meta property="og:title" content="Space Youth Forum | ููุชุฏู ุดุจุงุจ ุงููุถุงุก" />
    <meta property="og:locale" content="ar_AR" />
    <meta property="og:description" content="ููุชุฏู ุดุจุงุจ ุงููุถุงุก ูู ุฃูู ูููุน ูู ุงููุทู ุงูุนุฑุจู ููุฏู ุฅูู ูุดุฑ ุนูู ุงูููู ุจูู ุงููุดุก ู ุงูุดุจุงุจ ูู ูุฎุชูู ุงูุฃุนูุงุฑ ูุฎูู ุฌูู ุทููุญุฉ ุงููุถุงุก ูุชุทูุนุงุชู ุชุตู ุงูู ุงูุณูุงุก ๐โจ" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://space-youth-forum.firebaseapp.com" />
    <meta property="og:image" content="image/image-go.png" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@SpaceYouthForum" />
    <meta name="twitter:creator" content="@SpaceYouthForum" />
    
    <!-- Css Files  -->
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="animation.css">
    <link rel="stylesheet" href="Forms.css">

    <!-- Animation libarary -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- Logo for the website -->
    <link rel="icon" href="/image/logo.ico">
    <link rel="apple-touch-icon" href="/image/logo.ico">
    <link rel="apple-touch-icon-precomposed" href="/image/logo.ico">
    <link rel="shortcut icon" href="/image/logo.ico">

    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/fa3c9a78d2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Font Links  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa&family=Cinzel+Decorative:wght@400;700&family=Markazi+Text&family=Quintessential&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;700&family=Markazi+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet">
    <title>Home page - Space Youth Forum | ููุชุฏู ุดุจุงุจ ุงููุถุงุก</title>
</head>
<body>
    <!-- Start header -->

    <header>
        <div id="head" class="contener">
            <div class="logo">
                <img src="/image/Logo.png" alt="Logo">
                <h1 class="title">Space Youth Forum</h1>
            </div>
            <div class="navegation">
                <nav>
                    <ul id="listUl">
                        <li><a href="#" onclick="window.scroll = (0 , 0)">ุงูุฑุฆุณูุฉ</a></li>
                        <li><a href="#services">ูุง ููุฏูู</a></li>
                        <li><a href="#about">ูู ูุญู</a></li>
                        <li><a href="#Activity">ูุตุงุฆุญ</a></li>
                        <li><a href="#footer">ุชูุงุตู</a></li>
                        <li><a Id="LoginLink" href="#ุชุณุฌูู_ุญุณุงุจ">ุชุณุฌูู ุฏุฎูู</a></li>
                    </ul>
                    <div class="i" id="listLogo" onclick="block()">
                        <span class="i1"></span>
                        <span class="i2"></span>
                        <span class="i3"></span>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <!-- End header -->

    <!-- Start landing -->

    <div class="landing" id="landing">
        <div class="overlay">
            <div class="text">
                <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" id="content" class="content">
                    <h2>ูุฑุญุจุง ุจูู ูู ููุชุฏู ุดุจุงุจ ุงููุถุงุก</h2>
                    <p>ููุชุฏู ุดุจุงุจ ุงููุถุงุก .. ูุณูุท ุนูู ุงูููู ุงูุงุถูุงุก</p>
                    <p>ูู ููุง ุชุจุฏุก ุฑุญูุฉ ุงูุฃูู ููู</p>
                    <a href="#" onclick="blurL()">ูุนุฑูุฉ ุงููุฒูุฏ</a>
                </div>
            </div>
            <div class="shaps">
                <div class="shap-1"></div>
                <div class="shap-2"></div>
            </div>
        </div>
    </div>
    <div id="alert">
        <h2>Space Youth Forum</h2>
        <p>ูุฑุญุจุง ุจูู ูู ููุชุฏู ุดุจุงุจ ุงููุถุงุก<br>
        ูุญู ููุฏู ูุฃูุดุงุก ุดุจุงุจ ูุญุจ ูุนูู ุงูููู ู ูุดุฑู ูุฌููุน ุงูุฃุนูุงุฑ ุจุทุฑููุฉ ููุชุนุฉ ู ูููุฏุฉ<br>
        <span>it's V0.1 from website*</span></p>
        <a href="#" onclick="closeL()">ุฅุบูุงู</a>
    </div>

    <!-- End landing -->

    

    <!-- Start Conter-knowlege -->

    <div id="services" class="conter-knowlege">
        <div class="title">
            <h3>ุฎุฏูุงุช ููุชุฏู ุดุจุงุจ ุงููุถุงุก</h3>
            <p>ุนูุฏูุง ุชุณูุน ูุตุทูุญ ุงููุถุงุก ูุฅู ุชูููุฑู ูุฐูุจ ูุจุงุดุฑุฉ ุงูู ุงูุณูุงุก ู ูุง ููู ุงูุณูุงุก ูู ูุฌูู ู ููุงูุจ ู ูุฌุฑุงุช .. ุงูู ุขุฎุฑู <br>
            ู ููุฐุง ููุญู ูุณุงุนุฏู ุนูู ุงูุชูููุฑ ู ุฒูุงุฏุฉ ูุนูููุงุชู ู ุฎุจุฑุชู ูู ุนูู ุงูููู ู ูุชููู ุฃู ูุณุงุนุฏู ูุฐุง</p>
        </div>
        <div class="services">
            <div data-aos="fade-up" class="service">
                <i class="fa-solid fa-circle-question"></i>
                <h4>ุชุญุฏูุงุช</h4>
                <p>ุชุญุฏูุงุช ู ุฃุณุฆูู ุชุณุงุนุฏู ุนูู ุชุฐูุฑ ุงููุนูููุงุช ู ุชูุณูุน ูุทุงู ูุนุฑูุชู ุญูู ุงููุถุงุก</p>
                <button id="offer"><a onclick="ShouldSign('ูู ุชุณุชุทูุน ุงูููุงู ุจุงูุชุญุฏูุงุช ุญุชู ุชููู ุจุชุณุฌูู ุงูุฏุฎูู')">ููุง ุจูุง</a></button>
                <div class="Mark Yco">Completed</div>
            </div>

            <div data-aos="fade-up" class="service">
                <i class="fa-solid fa-quote-left"></i>
                <h4>ููุงูุงุช</h4>
                <p>ูู ุงูููุชุน ูุฑุงุกุฉ ุงูููุถูุนุงุช ุงูุชู ุชุชุนูู ุจูุฌุงูู ุงูููุถู ูุซู ุงูููู <br> ููุงู ุงูุนุฏูุฏ ูู ุงูููุงูุงุช ุงููุดููุฉ ุงูุชู ุชูุชุธุฑู ุญุชู ุชูุฑุฃูุง </p>
                <button><a href="/Topics" target="_blank">ููุง ุจูุง</a></button>
                <div class="Mark Yco">Completed</div>
            </div>

            <div  data-aos="fade-up" class="service Yet">
                <i class="fa-brands fa-wpexplorer"></i>                
                <h4>ุงูุฃุญุฏุงุซ</h4>
                <p>ุณูู ุชุญุธู ุจุชุฌุฑุจุฉ ููุชุนุฉ ููุง ูู ุฎูุงู ุชุฌุฑุจุฉ ูุญุงูู ุงููุถุงุก ุงูุฎุงุฑุฌู ู ุงุณุชูุดุงู ูุนุงูู ุงูููุงูุจ ู ุงููุซูุฑ ูู ุงููุนูููุงุช ุงููููุฉ ุญูู ูุฌุฑุชูุง</p>
                <button><a href="/Events" target="_blank">ููุง ุจูุง</a></button>
                <div class="Mark Nco">Not Completed</div>
            </div>
        </div>
    </div>

    <!-- End Conter-knowlege -->

    <!-- Start About -->

    <div class="about" id="about">
        <div class="text-2">
            <h3>About Establisher</h3>
            <p>ุทุงูุจ ูุตุฑู ูุนูุด ูู ุงูุงุณููุฏุฑูุฉ ูุฏุฑุณ ูู ุงููุฑุญูุฉ ุงูุซุงูููุฉ <br> 
            ูุทูุญ ุงูู ุฃู ูุคุณุณ ูุฌุชูุน ูุญุจ ู ุจุงุญุซ ูู ุนูู ุงูููู ู ุชูุฏูู ุงููุณุงุนุฏุฉ ููุฌููุน <br></p>
            <button><a href="https://porto-hr.web.app/" target="_blank">learn more</a></button>
        </div>
        <div class="image">
            <div class="overlay">
                <div class="owner">
                    <h2 data-aos="fade-down">Hassan Khaled</h2>
                    <p>contact with him : </p>
                    <ul data-aos="fade-up">
                        <li><a href="https://www.instagram.com/x_codehr_x/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://porto-hr.web.app/" target="_blank">P</a></li>
                        <li><a href="https://www.linkedin.com/in/hassan-khaled-431a52227/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="mailto:hkrock236@gmail.com?subject=Contact" target="_blank"><i class="fa-solid fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> 

    <!-- End About -->

    <!-- Start space-active  -->
    
    <div class="space-items" id="Activity">
        <div class="rocket">
            <img src="image/rock.png" alt="rocket">
            <div class="after-rocket">
               <svg id="visual" viewBox="0 0 900 675" width="900" height="675" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><g fill="#ffffff"><path d="M0 -13.2L3 -4.1L12.6 -4.1L4.8 1.6L7.8 10.7L0 5L-7.8 10.7L-4.8 1.6L-12.6 -4.1L-3 -4.1Z" transform="translate(269 472)"></path><path d="M0 -6.6L1.5 -2L6.3 -2L2.4 0.8L3.9 5.3L0 2.5L-3.9 5.3L-2.4 0.8L-6.3 -2L-1.5 -2Z" transform="translate(702 370)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(49 594)"></path><path d="M0 -6.6L1.5 -2L6.3 -2L2.4 0.8L3.9 5.3L0 2.5L-3.9 5.3L-2.4 0.8L-6.3 -2L-1.5 -2Z" transform="translate(267 638)"></path><path d="M0 -6.6L1.5 -2L6.3 -2L2.4 0.8L3.9 5.3L0 2.5L-3.9 5.3L-2.4 0.8L-6.3 -2L-1.5 -2Z" transform="translate(565 613)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(898 3)"></path><path d="M0 -7.6L1.7 -2.3L7.2 -2.3L2.7 0.9L4.4 6.1L0 2.9L-4.4 6.1L-2.7 0.9L-7.2 -2.3L-1.7 -2.3Z" transform="translate(499 241)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(86 209)"></path><path d="M0 -7.6L1.7 -2.3L7.2 -2.3L2.7 0.9L4.4 6.1L0 2.9L-4.4 6.1L-2.7 0.9L-7.2 -2.3L-1.7 -2.3Z" transform="translate(859 349)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(836 510)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(257 409)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(253 184)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(491 154)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(504 484)"></path><path d="M0 -6.6L1.5 -2L6.3 -2L2.4 0.8L3.9 5.3L0 2.5L-3.9 5.3L-2.4 0.8L-6.3 -2L-1.5 -2Z" transform="translate(659 54)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(252 594)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(112 110)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(206 260)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(428 424)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(866 59)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(152 31)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(374 470)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(529 44)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(539 424)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(45 518)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(787 585)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(15 11)"></path><path d="M0 -9.4L2.1 -2.9L9 -2.9L3.4 1.1L5.5 7.6L0 3.6L-5.5 7.6L-3.4 1.1L-9 -2.9L-2.1 -2.9Z" transform="translate(323 440)"></path><path d="M0 -7.6L1.7 -2.3L7.2 -2.3L2.7 0.9L4.4 6.1L0 2.9L-4.4 6.1L-2.7 0.9L-7.2 -2.3L-1.7 -2.3Z" transform="translate(284 243)"></path><path d="M0 -6.6L1.5 -2L6.3 -2L2.4 0.8L3.9 5.3L0 2.5L-3.9 5.3L-2.4 0.8L-6.3 -2L-1.5 -2Z" transform="translate(288 142)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(108 408)"></path><path d="M0 -6.6L1.5 -2L6.3 -2L2.4 0.8L3.9 5.3L0 2.5L-3.9 5.3L-2.4 0.8L-6.3 -2L-1.5 -2Z" transform="translate(209 634)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(300 404)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(155 641)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(109 604)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(550 235)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(332 497)"></path><path d="M0 -6.6L1.5 -2L6.3 -2L2.4 0.8L3.9 5.3L0 2.5L-3.9 5.3L-2.4 0.8L-6.3 -2L-1.5 -2Z" transform="translate(595 396)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(659 452)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(806 461)"></path><path d="M0 -9.4L2.1 -2.9L9 -2.9L3.4 1.1L5.5 7.6L0 3.6L-5.5 7.6L-3.4 1.1L-9 -2.9L-2.1 -2.9Z" transform="translate(559 110)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(653 667)"></path><path d="M0 -7.6L1.7 -2.3L7.2 -2.3L2.7 0.9L4.4 6.1L0 2.9L-4.4 6.1L-2.7 0.9L-7.2 -2.3L-1.7 -2.3Z" transform="translate(242 150)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(6 423)"></path><path d="M0 -6.6L1.5 -2L6.3 -2L2.4 0.8L3.9 5.3L0 2.5L-3.9 5.3L-2.4 0.8L-6.3 -2L-1.5 -2Z" transform="translate(3 219)"></path><path d="M0 -9.4L2.1 -2.9L9 -2.9L3.4 1.1L5.5 7.6L0 3.6L-5.5 7.6L-3.4 1.1L-9 -2.9L-2.1 -2.9Z" transform="translate(854 305)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(424 244)"></path><path d="M0 -6.6L1.5 -2L6.3 -2L2.4 0.8L3.9 5.3L0 2.5L-3.9 5.3L-2.4 0.8L-6.3 -2L-1.5 -2Z" transform="translate(579 241)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(891 271)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(734 337)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(100 305)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(280 216)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(811 366)"></path><path d="M0 -6.6L1.5 -2L6.3 -2L2.4 0.8L3.9 5.3L0 2.5L-3.9 5.3L-2.4 0.8L-6.3 -2L-1.5 -2Z" transform="translate(544 166)"></path><path d="M0 -9.4L2.1 -2.9L9 -2.9L3.4 1.1L5.5 7.6L0 3.6L-5.5 7.6L-3.4 1.1L-9 -2.9L-2.1 -2.9Z" transform="translate(216 382)"></path><path d="M0 -6.6L1.5 -2L6.3 -2L2.4 0.8L3.9 5.3L0 2.5L-3.9 5.3L-2.4 0.8L-6.3 -2L-1.5 -2Z" transform="translate(744 141)"></path><path d="M0 -7.6L1.7 -2.3L7.2 -2.3L2.7 0.9L4.4 6.1L0 2.9L-4.4 6.1L-2.7 0.9L-7.2 -2.3L-1.7 -2.3Z" transform="translate(860 604)"></path><path d="M0 -6.6L1.5 -2L6.3 -2L2.4 0.8L3.9 5.3L0 2.5L-3.9 5.3L-2.4 0.8L-6.3 -2L-1.5 -2Z" transform="translate(89 538)"></path><path d="M0 -9.4L2.1 -2.9L9 -2.9L3.4 1.1L5.5 7.6L0 3.6L-5.5 7.6L-3.4 1.1L-9 -2.9L-2.1 -2.9Z" transform="translate(691 47)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(37 31)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(879 371)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(586 152)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(170 74)"></path><path d="M0 -9.4L2.1 -2.9L9 -2.9L3.4 1.1L5.5 7.6L0 3.6L-5.5 7.6L-3.4 1.1L-9 -2.9L-2.1 -2.9Z" transform="translate(418 616)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(287 180)"></path><path d="M0 -7.6L1.7 -2.3L7.2 -2.3L2.7 0.9L4.4 6.1L0 2.9L-4.4 6.1L-2.7 0.9L-7.2 -2.3L-1.7 -2.3Z" transform="translate(399 575)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(12 500)"></path><path d="M0 -6.6L1.5 -2L6.3 -2L2.4 0.8L3.9 5.3L0 2.5L-3.9 5.3L-2.4 0.8L-6.3 -2L-1.5 -2Z" transform="translate(144 436)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(747 180)"></path><path d="M0 -9.4L2.1 -2.9L9 -2.9L3.4 1.1L5.5 7.6L0 3.6L-5.5 7.6L-3.4 1.1L-9 -2.9L-2.1 -2.9Z" transform="translate(486 37)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(564 61)"></path><path d="M0 -6.6L1.5 -2L6.3 -2L2.4 0.8L3.9 5.3L0 2.5L-3.9 5.3L-2.4 0.8L-6.3 -2L-1.5 -2Z" transform="translate(27 291)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(767 94)"></path><path d="M0 -9.4L2.1 -2.9L9 -2.9L3.4 1.1L5.5 7.6L0 3.6L-5.5 7.6L-3.4 1.1L-9 -2.9L-2.1 -2.9Z" transform="translate(26 118)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(397 205)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(662 10)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(152 220)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(301 351)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(614 535)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(597 42)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(478 436)"></path><path d="M0 -9.4L2.1 -2.9L9 -2.9L3.4 1.1L5.5 7.6L0 3.6L-5.5 7.6L-3.4 1.1L-9 -2.9L-2.1 -2.9Z" transform="translate(286 616)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(174 111)"></path><path d="M0 -6.6L1.5 -2L6.3 -2L2.4 0.8L3.9 5.3L0 2.5L-3.9 5.3L-2.4 0.8L-6.3 -2L-1.5 -2Z" transform="translate(640 242)"></path><path d="M0 -9.4L2.1 -2.9L9 -2.9L3.4 1.1L5.5 7.6L0 3.6L-5.5 7.6L-3.4 1.1L-9 -2.9L-2.1 -2.9Z" transform="translate(838 455)"></path><path d="M0 -9.4L2.1 -2.9L9 -2.9L3.4 1.1L5.5 7.6L0 3.6L-5.5 7.6L-3.4 1.1L-9 -2.9L-2.1 -2.9Z" transform="translate(60 333)"></path><path d="M0 -7.6L1.7 -2.3L7.2 -2.3L2.7 0.9L4.4 6.1L0 2.9L-4.4 6.1L-2.7 0.9L-7.2 -2.3L-1.7 -2.3Z" transform="translate(749 257)"></path><path d="M0 -9.4L2.1 -2.9L9 -2.9L3.4 1.1L5.5 7.6L0 3.6L-5.5 7.6L-3.4 1.1L-9 -2.9L-2.1 -2.9Z" transform="translate(369 134)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(403 120)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(280 524)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(438 52)"></path><path d="M0 -7.6L1.7 -2.3L7.2 -2.3L2.7 0.9L4.4 6.1L0 2.9L-4.4 6.1L-2.7 0.9L-7.2 -2.3L-1.7 -2.3Z" transform="translate(38 367)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(50 405)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(388 280)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(565 387)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(806 111)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(352 292)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(38 216)"></path><path d="M0 -9.4L2.1 -2.9L9 -2.9L3.4 1.1L5.5 7.6L0 3.6L-5.5 7.6L-3.4 1.1L-9 -2.9L-2.1 -2.9Z" transform="translate(328 583)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(596 633)"></path><path d="M0 -6.6L1.5 -2L6.3 -2L2.4 0.8L3.9 5.3L0 2.5L-3.9 5.3L-2.4 0.8L-6.3 -2L-1.5 -2Z" transform="translate(490 118)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(637 184)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(686 667)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(121 643)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(92 83)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(350 455)"></path><path d="M0 -9.4L2.1 -2.9L9 -2.9L3.4 1.1L5.5 7.6L0 3.6L-5.5 7.6L-3.4 1.1L-9 -2.9L-2.1 -2.9Z" transform="translate(432 205)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(742 573)"></path><path d="M0 -7.6L1.7 -2.3L7.2 -2.3L2.7 0.9L4.4 6.1L0 2.9L-4.4 6.1L-2.7 0.9L-7.2 -2.3L-1.7 -2.3Z" transform="translate(766 498)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(704 141)"></path><path d="M0 -9.4L2.1 -2.9L9 -2.9L3.4 1.1L5.5 7.6L0 3.6L-5.5 7.6L-3.4 1.1L-9 -2.9L-2.1 -2.9Z" transform="translate(117 164)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(460 463)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(222 498)"></path><path d="M0 -7.6L1.7 -2.3L7.2 -2.3L2.7 0.9L4.4 6.1L0 2.9L-4.4 6.1L-2.7 0.9L-7.2 -2.3L-1.7 -2.3Z" transform="translate(62 440)"></path><path d="M0 -6.6L1.5 -2L6.3 -2L2.4 0.8L3.9 5.3L0 2.5L-3.9 5.3L-2.4 0.8L-6.3 -2L-1.5 -2Z" transform="translate(485 80)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(160 372)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(461 395)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(894 82)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(259 103)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(650 214)"></path><path d="M0 -6.6L1.5 -2L6.3 -2L2.4 0.8L3.9 5.3L0 2.5L-3.9 5.3L-2.4 0.8L-6.3 -2L-1.5 -2Z" transform="translate(635 607)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(844 102)"></path><path d="M0 -6.6L1.5 -2L6.3 -2L2.4 0.8L3.9 5.3L0 2.5L-3.9 5.3L-2.4 0.8L-6.3 -2L-1.5 -2Z" transform="translate(708 615)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(152 149)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(716 503)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(684 112)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(419 345)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(205 154)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(768 450)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(897 393)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(548 264)"></path><path d="M0 -6.6L1.5 -2L6.3 -2L2.4 0.8L3.9 5.3L0 2.5L-3.9 5.3L-2.4 0.8L-6.3 -2L-1.5 -2Z" transform="translate(158 335)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(16 630)"></path><path d="M0 -7.6L1.7 -2.3L7.2 -2.3L2.7 0.9L4.4 6.1L0 2.9L-4.4 6.1L-2.7 0.9L-7.2 -2.3L-1.7 -2.3Z" transform="translate(574 570)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(785 190)"></path><path d="M0 -6.6L1.5 -2L6.3 -2L2.4 0.8L3.9 5.3L0 2.5L-3.9 5.3L-2.4 0.8L-6.3 -2L-1.5 -2Z" transform="translate(440 279)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(217 345)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(203 461)"></path><path d="M0 -9.4L2.1 -2.9L9 -2.9L3.4 1.1L5.5 7.6L0 3.6L-5.5 7.6L-3.4 1.1L-9 -2.9L-2.1 -2.9Z" transform="translate(239 227)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(535 585)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(569 540)"></path><path d="M0 -9.4L2.1 -2.9L9 -2.9L3.4 1.1L5.5 7.6L0 3.6L-5.5 7.6L-3.4 1.1L-9 -2.9L-2.1 -2.9Z" transform="translate(176 186)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(104 446)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(325 198)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(163 573)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(167 539)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(785 658)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(325 110)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(436 143)"></path><path d="M0 -7.6L1.7 -2.3L7.2 -2.3L2.7 0.9L4.4 6.1L0 2.9L-4.4 6.1L-2.7 0.9L-7.2 -2.3L-1.7 -2.3Z" transform="translate(347 412)"></path><path d="M0 -9.4L2.1 -2.9L9 -2.9L3.4 1.1L5.5 7.6L0 3.6L-5.5 7.6L-3.4 1.1L-9 -2.9L-2.1 -2.9Z" transform="translate(883 128)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(341 152)"></path><path d="M0 -9.4L2.1 -2.9L9 -2.9L3.4 1.1L5.5 7.6L0 3.6L-5.5 7.6L-3.4 1.1L-9 -2.9L-2.1 -2.9Z" transform="translate(202 519)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(512 370)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(832 266)"></path><path d="M0 -6.6L1.5 -2L6.3 -2L2.4 0.8L3.9 5.3L0 2.5L-3.9 5.3L-2.4 0.8L-6.3 -2L-1.5 -2Z" transform="translate(131 534)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(22 149)"></path><path d="M0 -9.4L2.1 -2.9L9 -2.9L3.4 1.1L5.5 7.6L0 3.6L-5.5 7.6L-3.4 1.1L-9 -2.9L-2.1 -2.9Z" transform="translate(33 449)"></path><path d="M0 -6.6L1.5 -2L6.3 -2L2.4 0.8L3.9 5.3L0 2.5L-3.9 5.3L-2.4 0.8L-6.3 -2L-1.5 -2Z" transform="translate(68 136)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(89 365)"></path><path d="M0 -7.6L1.7 -2.3L7.2 -2.3L2.7 0.9L4.4 6.1L0 2.9L-4.4 6.1L-2.7 0.9L-7.2 -2.3L-1.7 -2.3Z" transform="translate(575 287)"></path><path d="M0 -7.6L1.7 -2.3L7.2 -2.3L2.7 0.9L4.4 6.1L0 2.9L-4.4 6.1L-2.7 0.9L-7.2 -2.3L-1.7 -2.3Z" transform="translate(466 645)"></path><path d="M0 -7.6L1.7 -2.3L7.2 -2.3L2.7 0.9L4.4 6.1L0 2.9L-4.4 6.1L-2.7 0.9L-7.2 -2.3L-1.7 -2.3Z" transform="translate(75 502)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(614 667)"></path><path d="M0 -6.6L1.5 -2L6.3 -2L2.4 0.8L3.9 5.3L0 2.5L-3.9 5.3L-2.4 0.8L-6.3 -2L-1.5 -2Z" transform="translate(357 99)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(834 644)"></path><path d="M0 -7.6L1.7 -2.3L7.2 -2.3L2.7 0.9L4.4 6.1L0 2.9L-4.4 6.1L-2.7 0.9L-7.2 -2.3L-1.7 -2.3Z" transform="translate(258 337)"></path><path d="M0 -7.6L1.7 -2.3L7.2 -2.3L2.7 0.9L4.4 6.1L0 2.9L-4.4 6.1L-2.7 0.9L-7.2 -2.3L-1.7 -2.3Z" transform="translate(674 158)"></path><path d="M0 -7.6L1.7 -2.3L7.2 -2.3L2.7 0.9L4.4 6.1L0 2.9L-4.4 6.1L-2.7 0.9L-7.2 -2.3L-1.7 -2.3Z" transform="translate(833 206)"></path><path d="M0 -9.4L2.1 -2.9L9 -2.9L3.4 1.1L5.5 7.6L0 3.6L-5.5 7.6L-3.4 1.1L-9 -2.9L-2.1 -2.9Z" transform="translate(508 421)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(193 409)"></path><path d="M0 -6.6L1.5 -2L6.3 -2L2.4 0.8L3.9 5.3L0 2.5L-3.9 5.3L-2.4 0.8L-6.3 -2L-1.5 -2Z" transform="translate(312 6)"></path><path d="M0 -9.4L2.1 -2.9L9 -2.9L3.4 1.1L5.5 7.6L0 3.6L-5.5 7.6L-3.4 1.1L-9 -2.9L-2.1 -2.9Z" transform="translate(185 315)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(647 80)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(356 196)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(599 441)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(189 669)"></path><path d="M0 -6.6L1.5 -2L6.3 -2L2.4 0.8L3.9 5.3L0 2.5L-3.9 5.3L-2.4 0.8L-6.3 -2L-1.5 -2Z" transform="translate(724 389)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(762 219)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(321 555)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(187 594)"></path><path d="M0 -7.6L1.7 -2.3L7.2 -2.3L2.7 0.9L4.4 6.1L0 2.9L-4.4 6.1L-2.7 0.9L-7.2 -2.3L-1.7 -2.3Z" transform="translate(119 568)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(214 556)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(835 74)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(54 638)"></path><path d="M0 -6.6L1.5 -2L6.3 -2L2.4 0.8L3.9 5.3L0 2.5L-3.9 5.3L-2.4 0.8L-6.3 -2L-1.5 -2Z" transform="translate(678 218)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(746 41)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(478 671)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(409 155)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(295 76)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(895 620)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(401 541)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(429 539)"></path><path d="M0 -9.4L2.1 -2.9L9 -2.9L3.4 1.1L5.5 7.6L0 3.6L-5.5 7.6L-3.4 1.1L-9 -2.9L-2.1 -2.9Z" transform="translate(348 63)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(574 474)"></path><path d="M0 -6.6L1.5 -2L6.3 -2L2.4 0.8L3.9 5.3L0 2.5L-3.9 5.3L-2.4 0.8L-6.3 -2L-1.5 -2Z" transform="translate(623 147)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(739 668)"></path><path d="M0 -6.6L1.5 -2L6.3 -2L2.4 0.8L3.9 5.3L0 2.5L-3.9 5.3L-2.4 0.8L-6.3 -2L-1.5 -2Z" transform="translate(614 224)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(709 320)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(671 355)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(332 332)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(840 147)"></path><path d="M0 -7.6L1.7 -2.3L7.2 -2.3L2.7 0.9L4.4 6.1L0 2.9L-4.4 6.1L-2.7 0.9L-7.2 -2.3L-1.7 -2.3Z" transform="translate(658 503)"></path><path d="M0 -7.6L1.7 -2.3L7.2 -2.3L2.7 0.9L4.4 6.1L0 2.9L-4.4 6.1L-2.7 0.9L-7.2 -2.3L-1.7 -2.3Z" transform="translate(783 42)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(799 490)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(868 532)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(375 38)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(802 6)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(722 289)"></path><path d="M0 -7.6L1.7 -2.3L7.2 -2.3L2.7 0.9L4.4 6.1L0 2.9L-4.4 6.1L-2.7 0.9L-7.2 -2.3L-1.7 -2.3Z" transform="translate(509 333)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(890 581)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(86 5)"></path><path d="M0 -6.6L1.5 -2L6.3 -2L2.4 0.8L3.9 5.3L0 2.5L-3.9 5.3L-2.4 0.8L-6.3 -2L-1.5 -2Z" transform="translate(430 570)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(146 192)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(73 252)"></path><path d="M0 -9.4L2.1 -2.9L9 -2.9L3.4 1.1L5.5 7.6L0 3.6L-5.5 7.6L-3.4 1.1L-9 -2.9L-2.1 -2.9Z" transform="translate(479 567)"></path><path d="M0 -7.6L1.7 -2.3L7.2 -2.3L2.7 0.9L4.4 6.1L0 2.9L-4.4 6.1L-2.7 0.9L-7.2 -2.3L-1.7 -2.3Z" transform="translate(306 36)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(791 240)"></path><path d="M0 -7.6L1.7 -2.3L7.2 -2.3L2.7 0.9L4.4 6.1L0 2.9L-4.4 6.1L-2.7 0.9L-7.2 -2.3L-1.7 -2.3Z" transform="translate(698 538)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(444 96)"></path><path d="M0 -7.6L1.7 -2.3L7.2 -2.3L2.7 0.9L4.4 6.1L0 2.9L-4.4 6.1L-2.7 0.9L-7.2 -2.3L-1.7 -2.3Z" transform="translate(528 461)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(893 35)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(203 213)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(398 486)"></path><path d="M0 -9.4L2.1 -2.9L9 -2.9L3.4 1.1L5.5 7.6L0 3.6L-5.5 7.6L-3.4 1.1L-9 -2.9L-2.1 -2.9Z" transform="translate(522 509)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(809 620)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(634 117)"></path><path d="M0 -7.6L1.7 -2.3L7.2 -2.3L2.7 0.9L4.4 6.1L0 2.9L-4.4 6.1L-2.7 0.9L-7.2 -2.3L-1.7 -2.3Z" transform="translate(824 557)"></path><path d="M0 -6.6L1.5 -2L6.3 -2L2.4 0.8L3.9 5.3L0 2.5L-3.9 5.3L-2.4 0.8L-6.3 -2L-1.5 -2Z" transform="translate(213 19)"></path><path d="M0 -7.6L1.7 -2.3L7.2 -2.3L2.7 0.9L4.4 6.1L0 2.9L-4.4 6.1L-2.7 0.9L-7.2 -2.3L-1.7 -2.3Z" transform="translate(714 579)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(849 396)"></path><path d="M0 -7.6L1.7 -2.3L7.2 -2.3L2.7 0.9L4.4 6.1L0 2.9L-4.4 6.1L-2.7 0.9L-7.2 -2.3L-1.7 -2.3Z" transform="translate(318 279)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(851 21)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(390 414)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(76 474)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(519 544)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(380 334)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(577 511)"></path><path d="M0 -6.6L1.5 -2L6.3 -2L2.4 0.8L3.9 5.3L0 2.5L-3.9 5.3L-2.4 0.8L-6.3 -2L-1.5 -2Z" transform="translate(65 381)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(479 332)"></path><path d="M0 -10.4L2.3 -3.2L9.9 -3.2L3.8 1.2L6.1 8.4L0 4L-6.1 8.4L-3.8 1.2L-9.9 -3.2L-2.3 -3.2Z" transform="translate(250 270)"></path><path d="M0 -6.6L1.5 -2L6.3 -2L2.4 0.8L3.9 5.3L0 2.5L-3.9 5.3L-2.4 0.8L-6.3 -2L-1.5 -2Z" transform="translate(638 558)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(209 111)"></path><path d="M0 -6.6L1.5 -2L6.3 -2L2.4 0.8L3.9 5.3L0 2.5L-3.9 5.3L-2.4 0.8L-6.3 -2L-1.5 -2Z" transform="translate(809 59)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(629 443)"></path><path d="M0 -11.3L2.5 -3.5L10.8 -3.5L4.1 1.3L6.7 9.2L0 4.3L-6.7 9.2L-4.1 1.3L-10.8 -3.5L-2.5 -3.5Z" transform="translate(475 502)"></path><path d="M0 -8.5L1.9 -2.6L8.1 -2.6L3.1 1L5 6.9L0 3.2L-5 6.9L-3.1 1L-8.1 -2.6L-1.9 -2.6Z" transform="translate(119 275)"></path><path d="M0 -7.6L1.7 -2.3L7.2 -2.3L2.7 0.9L4.4 6.1L0 2.9L-4.4 6.1L-2.7 0.9L-7.2 -2.3L-1.7 -2.3Z" transform="translate(130 303)"></path><path d="M0 -5.7L1.3 -1.7L5.4 -1.7L2.1 0.7L3.3 4.6L0 2.2L-3.3 4.6L-2.1 0.7L-5.4 -1.7L-1.3 -1.7Z" transform="translate(428 644)"></path><path d="M0 -9.4L2.1 -2.9L9 -2.9L3.4 1.1L5.5 7.6L0 3.6L-5.5 7.6L-3.4 1.1L-9 -2.9L-2.1 -2.9Z" transform="translate(708 239)"></path><path d="M0 -9.4L2.1 -2.9L9 -2.9L3.4 1.1L5.5 7.6L0 3.6L-5.5 7.6L-3.4 1.1L-9 -2.9L-2.1 -2.9Z" transform="translate(507 596)"></path></g></svg>
            </div>
        </div>
        <div class="items">
            <div data-aos="fade-left" class="item">
                <div></div>
                <h4>ูู ูุจุฏุนุงู</h4>
                <p>ููุฑ ุฎุงุฑุฌ ุญุฏูุฏ ุงูููุทู ู ูู ุซู ุฎุทุท ุจููุทููู ุญุชู ุชุตู ุงูู ูุชุงุฆุฌ ุงุจุฏุงุนูู<br>
                ู ุฅุฐุง ูุงู ูุฏูู ูุง ุชูุฏูู , ูุญุฑุต ุนูู ุชูุฏููู ุจุฃูุถู ุดูู ูููู</p>
            </div>
            <div data-aos="fade-right" class="item">
                <div></div>
                <h4>ูุง ุชุณุชุณูู ุงุจุฏุงู</h4>
                <p>ุฃุนูู ุฃูุถู ูุง ูุฏูู , ูููุง ูุงูุช ุงูุงูุถุงุน ุงูุญุงููู ู ุงูุชุญุฏูุงุช ููุง ุชุณูุญ ุจุฃู ุชููู ุจู<br>
                ุชุฐูุฑ ูู ุงูุช ู ููุงุฐุง ุจุฏุฃุช ู ุงูู ุงูู ุชุฑูุฏ ุงู ุชุตู </p>
            </div>
            <div data-aos="fade-left" class="item">
                <div></div>
                <h4>ูู ูุน ุงููู</h4>
                <p>ูููุง ูุงูุช ุฏูุงูุชู ููู ุนูู ุตูู ุจุฑุจู ู ุฃุนูู ุฃู ุงูุฑุฌูุน <br>
                ุงูู ุงููู ูู ุงูุฑุฌูุน ุงููุญูุฏ ุงูุฐู ูุฌุนูู ุชุชูุฏู</p>
            </div>
        </div>
    </div>

    <hr>
    <div class="Ads">
        <h5>Ads</h5>
        <fieldset>

        </fieldset>
    </div>
    <hr>

    <!-- End space-active  -->


    <!-- Start Contact  -->

    <section id="footer">
        <div class="container">
            <footer>
                <div class="col-1">
                    <div class="logo"><a href="/Home" onclick="window.scroll = (0 , 0)"><img src="image/Logo.png" alt=""></a></div>
                    <p>I'll be very grateful if you share your opinion with me. <br> I hope that this website is usful for you </p>
                </div>
                <div class="col-2">
                    <h2 class="column-heading">Important<br>Links</h2>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="https://ask-me-ques.herokuapp.com">Contact</a></li>
                        <li><a href="/Events">Events</a></li>
                        <li><a href="/Challenges">Challenges</a></li>
                        <li><a href="/Topics">Topics</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <h2 class="column-heading">Contact<br>Info</h2>
                    <ul>
                    <li><a href="mailto:hkrock236@gmail.com?subject=Contact">hkrock236@gmail.com</a></li>
                    </ul>
                </div>
                <div class="col-4">
                    <h2 class="column-heading">Social<br>Links</h2>
                    <ul>
                        <li><a href="https://www.facebook.com/groups/spaceyouthforum/">FB</a></li>
                        <li><a href="https://twitter.com/SpaceYouthForum">TW</a></li>
                        <li><a href="https://www.instagram.com/x_codehr_x/">IG</a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </section>
    <section class="copyright">
        <div class="end-text">
            <p id="copyright-date"> &copy; Copyright 2022 Space youth Forum</p>
        </div>
    </section>

    <!-- Loading page  -->

    <div id="loadingPage">
        <div class="space">
            <div class="f-circle"></div>
            <div class="s-circle"></div>
            <div class="t-circle"></div>
            <div class="circle"></div>
          </div>
    </div>

    <!-- End Contact  -->

    <!-- start Form to LogIn -->
    
    <div id="Forms">
        <div id="signInCard" class="form">
            <div class="forAnim">
                <h2>Space Youth Forum</h2>
                <div id="animation">
                    <img id="moonForm" src="http://www.clker.com/cliparts/8/4/7/a/12279737022024966533rg1024_Moon_in_comic_style.svg" alt="moon">
                    <div class="rocket">
                        <img src="http://www.clker.com/cliparts/y/4/l/l/l/C/rocket.svg" alt="rocket" width="20%">
                    </div>
                </div>
            </div>
            <form method="POST" id="signIn" action="/Home">
                <h5 id="errorAlertIn" data-passwords="<%= Password %> " data-IsThereIn="<%= arrUsers %>"></h5>
                <input type="user" name="checkUserName" id="checkUser" placeholder="ุฃุณู ุงููุณุชุฎุฏู" required>
                <input type="password" name="checkPass" id="checkPassword" placeholder="ูููุฉ ุงููุฑูุฑ" required>
                <a id="showHide" onclick="showhide()">ุฅุธูุงุฑ ูููุฉ ุงููุฑูุฑ</a>
                <div class="checkMember">
                    <input type="checkbox" name="rememberme" id="Rememberme">
                    <label for="Rememberme">ุชุฐูุฑูู</label>
                </div>
                <input type="submit" id="submit" value="ุชุณุฌูู ุงูุฏุฎูู">
            </form>
            <a href="#">ูุณูุช ูููุฉ ุงููุฑูุฑ </a><a onclick="signUpCard()" href="#ุชุณุฌูู_ุญุณุงุจ_ุฌุฏูุฏ">ูุง ุงูุชูู ุญุณุงุจ</a>
        </div>

        <div id="signUpCard" class="form">
            <div class="forAnim">
                <h2>Space Youth Forum</h2>
                <div id="animation">
                    <img id="moonForm" src="http://www.clker.com/cliparts/8/4/7/a/12279737022024966533rg1024_Moon_in_comic_style.svg" alt="moon">
                    <div class="rocket">
                        <img src="http://www.clker.com/cliparts/y/4/l/l/l/C/rocket.svg" alt="rocket" width="20%">
                    </div>
                </div>
            </div>
            <form method="POST" id="signUp" action="/">
                <h5 id="errorAlert" data-IsThere="<%= arrUsers %>" data-error=""></h5>
                <input type="user" name="userName" id="user" placeholder="ุฃุณู ุงููุณุชุฎุฏู" required>
                <input type="user" name="email" id="email" placeholder="ุงูุจุฑูุฏ ุงูุฃููุชุฑููู" required>
                <input type="password" name="pass" id="password" placeholder="ูููุฉ ุงููุฑูุฑ" required>
                <input type="password" name="surePass" id="surePassword" placeholder="ุชุฃููุฏ ูููุฉ ุงููุฑูุฑ" required>
                <div class="gender">
                    <input type="radio" name="gender" value="male" id="male-gender">
                    <label for="male-gender"><img src="image/male.svg" alt="male icon"></label>
                    <input type="radio" name="gender" value="female" id="female-gender">
                    <label for="female-gender"><img src="image/female.svg" alt="female icon"></label>
                </div>
                <input type="submit" id="Sendsubmit" value="ุฃูุดุงุก ุญุณุงุจ ุฌุฏูุฏ">
            </form>
            <a onclick="signInCard()" href="#ุชุณุฌูู_ุฏุฎูู">ุจุงููุนู ุงูุชูู ุญุณุงุจ</a>
        </div>

        <button onclick="Skiping()" id="Skip">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>

    <!-- End Form to LogIn -->

    <!-- JavaScript link -->
    <script>

        if (localStorage.getItem('UserData')) {
            let Userdata = JSON.parse(localStorage.getItem('UserData'))
            let userId = Userdata.id
            document.getElementById('LoginLink').innerHTML = ` <a onclick="" href="/profile/${userId}">ูููู ุงูุดุฎุตู</a> `
            document.getElementById('offer').innerHTML = `<a href="/challenges" target="_blank">ููุง ุจูุง</a>`
        } else {    
            // ++++++++++++++++++++++++ Log In ++++++++++++++++++++++++++
        
            document.getElementById('LoginLink').addEventListener('click' , () => {
                let FormsCards = document.getElementById('Forms')
                FormsCards.style.display = 'flex'
                setTimeout(() => {
                    FormsCards.style.opacity = '1'
                } , 20)
            })
                            
            function ShouldSign(Mess) {
                alert(Mess)
                document.getElementById('offer').addEventListener('click' , () => {

                    let FormsCards = document.getElementById('Forms')
                    FormsCards.style.display = 'flex'
                    setTimeout(() => {
                        FormsCards.style.opacity = '1'
                    } , 20)
                })
            }
        }
        

        // ++++++++++++++++++++++++++++++++

        document.getElementById('signIn').onsubmit = function () {
            let checkingUser = document.getElementById('checkUser').value
            let checkinPassword = document.getElementById('checkPassword').value
            let errorAlertIn = document.getElementById('errorAlertIn')
            let userNameInDB = errorAlertIn.getAttribute('data-IsThereIn')
            let Passwords = errorAlertIn.getAttribute('data-passwords')
            let userNameinput = false ;
            let passinput = false ;
            
            if (userNameInDB.includes(checkingUser)) {
                if (Passwords.includes(checkinPassword) && checkinPassword.length >= 8) {
                    errorAlertIn.innerHTML = `ูุฑุญุจุงู ${checkingUser} `
                    passinput = true
                    userNameinput = true
                } else {
                    errorAlertIn.innerHTML = `ูููุฉ ุงููุฑูุฑ ุฎุงุธุฆุฉ`
                }
            } else {
                errorAlertIn.innerHTML = `ูุฐุง ุงูุงุณู ุบูุฑ ููุฌูุฏ`
            }

            if (userNameinput === true && passinput === true) {
                let userD = {
                    userName : checkingUser ,
                }

                localStorage.setItem('UserData' , JSON.stringify(userD))
                return true
            }

            return false
        }
        

        document.getElementById('signUp').onsubmit = function () {
            let userNameInp = document.getElementById('user').value
            let emailInp = document.getElementById('email').value
            let passInp = document.getElementById('password').value
            let passVir = document.getElementById('surePassword').value
            let radios = document.querySelectorAll('input[name="gender"]')
            let errorAlert = document.getElementById('errorAlert')
            let userNamesInDB = errorAlert.getAttribute('data-IsThere')
            let userinput = false;
            let emailinput = false ;
            let passwordinput = false ;
            let Spass = false ;
            let gendercheck = false ;

            let usergender
            for (let i = 0; i < radios.length; i++) {
                if (radios[i].checked) {
                    usergender = radios[i].value
                    gendercheck = true
                } else {
                    errorAlert.innerHTML = 'ุงุฎุชุฑ ุฌูุณู'
                }
            }

            if (passVir === passInp) {
                Spass = true ;
            } else {
                errorAlert.innerHTML = 'ูุฌุจ ุฃู ุชููู ูููุฉ ุงููุฑูุฑ ูุทุงุจูุฉ'
            }

            if (passInp.length >= 8) {
                passwordinput = true ;
            } else {
                errorAlert.innerHTML = 'ูุฌุจ ุงู ุชุชููู ูููุฉ ุงููุฑูุฑ ูู 8 ุฃุญุฑู ุฃู ุฃูุซุฑ'
            }
            
            let re = /\w+(\d+)?(\w+)?@\w+.(com|net|io|dev|web|app)/ig
            if (re.test(emailInp)) {
                emailinput = true ;
            } else {
                errorAlert.innerHTML = 'ูุฌุจ ุนููู ุฅุฏุฎุงู ุจุฑูุฏ ุงููุชุฑููู ุตุงูุญ'
            }
            
            

            if (userNameInp.length >= 6 && userNameInp.length <= 15) {
                if (!userNamesInDB.includes(userNameInp)) {
                    userinput = true ;
                } else {
                    errorAlert.innerHTML = 'ุงุณู ุงููุณุชุฎุฏู ูุฐุง ููุฌูุฏ ุจุงููุนู'
                }
                
            } else {
                errorAlert.innerHTML = 'ุงุณู ุงููุณุชุฎุฏู ูุชููู ูู 6 ุฃุญุฑู ุฅูู 15 ุญุฑู'
            }
            

            if (userinput === true && emailinput === true && passwordinput === true && Spass === true && gendercheck === true ) {
                
                let userData = {
                    challengePassed : [] ,
                    articalReaded : [] ,
                    eventCame : [] ,
                    userName : userNameInp ,
                    email : emailInp ,
                    pass : passInp ,
                    points : 0 ,
                    Ustatus : 'login' ,
                    gender : usergender ,
                }
                 
                localStorage.setItem('UserData' , JSON.stringify(userData))
                errorAlert.innerHTML = `ูุฑุญุจุงู ุจู ูุง ${userNameInp}`
                return true
            }
            
            return false
        }



        function showhide() {
        let xpass = document.getElementById('checkPassword')
        let butSH = document.getElementById('showHide')
        if (xpass.type === 'password') {
            xpass.type = 'user'
            butSH.innerHTML = 'ุฃุฎูุงุก ูููุฉ ุงููุฑูุฑ'
        } else {
            xpass.type = 'password'
            butSH.innerHTML = 'ุฃุธูุงุฑ ูููุฉ ุงููุฑูุฑ'
            
        }
        }

        function signInCard() {
        let signInCard = document.getElementById('signInCard')
        let signUpCard = document.getElementById('signUpCard')

        signInCard.style.cssText = 'transform : rotateY(0deg);'
        signUpCard.style.cssText = 'transform : rotateY(-180deg);'
        }

        function signUpCard() {
        let signInCard = document.getElementById('signInCard')
        let signUpCard = document.getElementById('signUpCard')

        signInCard.style.cssText = 'transform : rotateY(180deg);'
        signUpCard.style.cssText = 'transform : rotateY(0deg);'
        }

        function Skiping() {
            let FormsCards = document.getElementById('Forms')
            FormsCards.style.opacity = '0'
            setTimeout(() => {
                FormsCards.style.display = 'none'
            } , 1000)
        }

        function blurL() {
            let blur = document.getElementById('landing');
            blur.classList.toggle('alert');
        
            let show = document.getElementById('alert');
            show.style.display= 'flex';
        }
        
        function closeL() {
            let close = document.getElementById('landing');
            close.classList.remove('alert');
        
            let hide = document.getElementById('alert');
            hide.style.display= 'none';
        }
        
        // +++++++++++++ for List Nav +++++++++++++++++
        
        function block() {
            let click = document.getElementById('listLogo')
            click.onclick = function () {
                document.getElementById('listUl').classList.toggle('show');
                document.querySelectorAll('nav span').forEach(span => span.classList.toggle('span'))
            }
            document.getElementById('listUl').onclick = function () {
                document.getElementById('listUl').classList.toggle('show')
                document.querySelectorAll('nav span').forEach(span => span.classList.toggle('span'))
            }
        }
        
        // ++++++++++++++++++++++++++++++++++++++++++++++++++++++
        
        let head = document.getElementById('head')
        
        window.addEventListener('scroll' , function () {
            head.classList.toggle('change' , window.scrollY > 0)
        })
        
        
        // ++++++++++++++++++++ Loading Page ++++++++++++++++++++++++
        window.onload = () => {
            let LoadingPage = document.querySelector('#loadingPage')
        
            LoadingPage.style.opacity = '1'
            LoadingPage.style.display = 'flex' 
            document.body.style.overflow = 'hidden'
        
            setTimeout(() => {
                document.body.style.overflow = 'auto'
                LoadingPage.style.opacity = '0'        
            }, 3000);
        
            setTimeout(() => {
                LoadingPage.style.display = 'none'
            }, 4000);
        
        }

        // ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
        let copyright = document.querySelector('.copyright .end-text p')
        
        let year = new Date()
        
        copyright.innerHTML =` &copy; Copyright ${year.getFullYear()} SYF`
        
        
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>