<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO -->
    <meta name="keywords" content="الاقمار الصناعية , وحدات الاقمار الصناعية , فيزياء الاقمار الصناعية , لماذا لا تسقط الاقمار الصناعية , الجاذبية , قمر صناعي , اهمية الاقمار الصناعية , الاقمار الصناعية على مر التاريخ">
    <meta name="description" content="فى الاغلب نعلم جميعأ أن الاقمار الصناعية يتم ارسالها لهدف معين ؛ إليك الآن معلومات يجب أن تعلمها عن الاقمار الصناعية">
    <meta name="auther" content="Space Youth Forum منتدى شباب الفضاء">
    <meta name="theme-color" content="#26b0ff">
    <meta name="robots" content="index,follow">

    <!-- End SEO -->
    <meta property="og:site_name" content="كيف تدور الاقمار الصناعية حول الارض"/>
    <meta property="og:title" content="الاقمار الصناعية" />
    <meta property="og:locale" content="ar_AR" />
    <meta property="og:description" content="فى الاغلب نعلم جميعأ أن الاقمار الصناعية يتم أرسالها لهدف معين ؛ إليك الآن معلومات يجب أن تعلمها عن الاقمار الصناعية" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="../image/satalites.png" />
    
    <!-- Css Files  -->
    <link rel="stylesheet" href="../normalize.css">
    <link rel="stylesheet" href="../Topics.css">
    <link rel="stylesheet" href="../animation.css">

    <!-- Logo for the website -->
    <link rel="icon" href="../image/logo.ico">
    <link rel="apple-touch-icon" href="../image/logo.ico">
    <link rel="apple-touch-icon-precomposed" href="../image/logo.ico">
    <link rel="shortcut icon" href="../image/logo.ico">

    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/fa3c9a78d2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Font Links  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa&family=Cinzel+Decorative:wght@400;700&family=Markazi+Text&family=Quintessential&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet">
    <title>Satalites</title>
</head>
<body>

    <!-- Start header  -->
    <%- include('partials/header')  %> 
    <!-- End header -->
    


    <div class="SSsatalites">
        <div class="overlay">
            <div class="title-satalites">
                <img src="../image/satalites.png" alt="Satalites">
                <h2>الاقمار الصناعية</h2>
            </div>

            <div class="topic">
                <h4>الهدف من الاقمار الصناعية</h4>
                <p>
                    <strong><span>مفهوم الأقمار الصناعية </span></strong>
                    يُعرّف القمر الصناعي بأنّه آلة تُرسَل إلى الفضاء الخارجي، ليبدأ بعد وصوله بالدوران حول الأرض أو حول أيّ جرم آخر، وتُساهم الأقمار الصناعية في اكتشاف الكون والفضاء، حيث يستطيع بعضها حمل العديد من الأشخاص، كما أنّها تُعدّ وسيلةً مهمّةً للاتصال بين الأفراد. <br>
                    
                    حقّق الاتحاد السوفيتي إنجازًا هو الأول من نوعه في العالم عندما أطلق القمر الصناعي سبوتنك 1 نحو الفضاء بتاريخ 4 أكتوبر/تشرين الأول لعام 1957م ، ويُعدّ سبوتنك 1 أول قمر صناعي في العالم ، حيث كان يزِن 83 كغم ويُقارب حجم كرة السلة ، وقد احتاج للدوران حول الأرض بمدار إهليلجي إلى 98 دقيقة تقريبًا  . <br>
                    
                    <span>تتعدد أنواع الأقمار الصناعية المستخدمة في العالم منها </span>
                    <strong>الأقمار الصناعية المتزامنة مع الأرض </strong> :- توضع الأقمار الصناعية المتزامنة مع في مدار يبعد 35,800 كم عن سطح الأرض، وتدور في نفس الاتجاه يومياً حول الأرض من الشرق إلى الغرب، وبسبب هذا النوع من الحركة تظهر ثابتة بالنسبة لمن هم على الأرض، ومن الجدير بالذكر أنها تستخدم في الاتصالات ولدراسة الطقس. <br>
                    
                    <strong>الأقمار الصناعية القطبية:- </strong> تدور هذه الأقمار الصناعية حول الأرض من الشمال إلى الجنوب بين القطبين، ومن الجدير بالذكر أنّ الأقمار الصناعية القطبية لها أهمية كبيرة فيما يتعلق بتكوين تصور عن حالة كوكب الأرض؛ إذ تستخدم في دراسات الطقس والكوارث، وتُزود الأرض بمعلومات حول الحالات الطارئة، وبيانات الحرارة، والضغط، والرطوبة الخاصة بالغلاف الجوي.
                    كما تُستخدم الأقمار الصناعية القطبية كمحطات فضائية كما هو الحال في محطة الفضاء الدولية (ISS) التي وصلت لمدارها سنة 1998م، إذ تُعد قمرًا صناعيًا صالحًا للسكن يُستخدم كمختبر، ومرصد، ومحطة هبوط للحملات الاستكشافية، كما يُمكن رصده من سطح الأرض في الليالي الصافية، كما تظهر الأقمار الصناعية القطبية في نفس الموضع مرتين يومياً؛ مرة نهاراً ومرة ليلاً. <br>
                    
                    <span>للأقمار الصناعية أهميه في العديد من المجالات نوضحها من خلال هذه النقاط الآتية </span>
                    1-	<strong>توسعة مدى تصوير الأرض</strong> إذ صار بالإمكان تصوير مساحات أكبر من الأرض في كل مرة، ممّا جعل للأقمار الصناعية دوراً مهماً في جمع البيانات بشكل أسرع وأكثر فعالية من الأجهزة التي على سطح الأرض. <br>
                    
                    2-	<strong>توسعة مجال الرؤية في الفضاء</strong> ممّا سهل دراسة الفضاء بشكل أكبر بسبب تجاوز العوائق التي تحجب الرؤية من الأرض والمتمثلة بالغيوم والغبار في الغلاف الجوي. <br>
                    
                    3-	<strong>تحديد المواقع الجغرافية</strong> يُوفّر نظام تحديد المواقع العالمي (GPS) إمكانية تحديد الوجهة بكلّ دقة في أيّة بقعة من الكرة الأرضية، ويعود الفضل في ذلك إلى مجموعة من الأقمار الصناعية المترابطة التي تدور حول الأرض.  <br>
                    
                    4-	<strong>دراسة الكون</strong> وفّرت الأقمار الصناعية العديد من المعلومات والصور الكونيّة، وتُعدّ الصور التي قدّمتها سلسلة أقمار فوياجر للكواكب من أوائل الصور التي التُقطت من خارج الأرض. كما وفّر تليسكوب هابل صورًا كونيةً واضحةً ودقيقةً تفوّقت على تلك المُقدَّمة من أيّ تلسكوب أرضي. <br>
                    
                    <strong><span>كيف يعمل القمر الصناعي؟<br></span></strong>
                    القمر الصناعي هو عبارة عن نظام اتصال متكامل يستطيع استقبال الإشارات على شكل موجات راديو من الأرض بواسطة أجهزة استقبال خاصة، وإعادة إرسال تلك الإشارات مجددًا إلى الأرض بواسطة جهاز إرسال خاص بالقمر الصناعي، وتعتبر هذه العملية هي الأساس في نظام تشغيل وعمل القمر الصناعي. <br>
                    
                    <strong>كيفية وصول الأقمار الصناعية إلى مدارها المحدد:- </strong> توضع الأقمار الصناعيّة على ارتفاع يكفي للتخلّص من آثار الاحتكاك مع غلاف الجوّ للأرض، حيث إنّ الارتفاعات التي تبلغ أقلّ من مئتي ميل تؤدي إلى إبطاء القمر الصناعيّ؛ بفعل الجاذبيّة الناتجة عن الغلاف الجويّ، ممّا يجعله ينخفض إلى الجزء الأكثر كثافة منه، الأمر الذي قد يؤدّي إلى احتراقه. <br>
                    ويُشار إلى أنّه يتمّ استخدام صواريخ متعدّدة المراحل لهبوط كلّ مرحلة عند استنفاد وقودها ؛ وذلك لتحقيق الارتفاع والسرعة المداريّة ، حيث إنّ التأثير الناتج عن خفض الكتلة الكليّة للصاروخ مع الحفاظ على توجّهه هو زيادة لسرعته ، وهذا يجعله يحقّق السرعة البالغة خمسة أميال في الثانية. <br>
                    فسرعة الدفع موازنة لتسارع الجاذبية ، ممّا يؤدّي إلى ثباته في مداره، وحين يكون أعلى من الغلاف الجويّ السفليّ ينحني الصاروخ في مسار رحلته الأفقيّ القريب ، ليصل إلى الارتفاع المداريّ المطلوب للقمر الصناعيّ. <br>
                    
                    <strong><span>سبب عدم سقوط الأقمار الصناعية</span></strong>  تستطيع الأقمار الصناعيّة البقاء في مدارها حول الكوكب بسرعة كبيرة ، حيث تحافظ بذلك على دورانها وعدم سقوطها بسبب الجاذبية ، بالإضافة إلى أنّها تحمل إمدادات وقود ؛ لتحافظ على تغيّر المدار حتى تتجنّب الاصطدام بالكتل الصخريّة ، وبالتالي فإنه يتمّ إرسالها إلى الفضاء بواسطة صاروخ يُطلق من الأرض، حيث يحتوي على طاقة كافية تساوي على الأقلّ 25.039 ميلاً في الساعة؛ لتكون خارج الغلاف الجويّ ، وعندما يصل الصاروخ إلى الموقع المحدّد يسقط القمر الصناعيّ في مداره. <br> 
                </p>

                <h3>الاقمار الصناعية على مر التاريخ</h3>

                <ul>
                    <li data-satalites="Sputink">سبوتنك 1</li>
                </ul>

                <div id="Sputink" class="content">
                    <div class="image">
                        <img src="../image/Sputnik.webp" alt="">
                        <h3>Sputnik 1</h3>
                    </div>
                    <div class="about">
                        <p>
                            تم إطلاقه من قبل الاتحاد السوفيتي عام 1957 شهر أكتوبر يوم 4 
                            و كان ذلك الحدث شرارة النجاح و بداية ما يدعى بسباق الفضاء الذى كان إحدى مجالات الصراع فى الحرب الباردة بين الاتحاد السوفيتي و امريكا و الصين
                            و استمر القمر فى الدوران حول الأرض الى أن نفذت بطاريته و سقط على الارض بعد ٣ شهور فى عام 1958 شهر يناير يوم 4 .
                            </p>
                    </div>
                </div>

            </div>

            <div class="checkReaded">
                <h6>هل أتممت قراءة المقال</h6>
                <form method="post" id="Creading" action="/read">
                    <input type="checkbox" name="articalName" value="الاقمار الصناعية" checked>
                    <input type="checkbox" name="userID" id="checking" checked>
                    <button>نعم</button>
                </form>
            </div>

            <div class="Share">
                <div class="text">
                    <h6>مشاركة المقال</h6>
                </div>
                <div class="clicking">
                    <div class="fbC bot"><a href="#shareFacebook" onclick="shareFacebook('https://www.facebook.com/sharer/sharer.php?u=https://space-youth-forum.herokuapp.com/Topics/satalites')"><i class="fa-brands fa-facebook-f"></i><h5>Facebook</h5></a></div>
                    <div class="twC bot"><a href="#shareTwitter" onclick="shareTwitter('http://www.twitter.com/share?url=https://space-youth-forum.herokuapp.com/Topics/satalites')"><i class="fa-brands fa-twitter"></i><h5>Twitter</h5></a></div>
                </div>
            </div>
        
            <div class="ads-conter">
                <hr>
                <h6>أعلان</h6>
                <fieldset>
                    
                </fieldset>
                <hr>
            </div>

        </div>
    </div>


    
    <section class="copyright">
        <div class="end-text">
            <p> &copy; Copyright 2022 Space Youth Forum</p>
        </div>
    </section>

    <!-- Loading page  -->
    <div id="loadingPage">
        <div class="space">
            <div class="f-circle"></div>
            <div class="s-circle"></div>
            <div class="t-circle"></div>
            <div class="circle"></div>
        </div>
    </div>


    <script>

        if (localStorage.getItem("UserData")) {
            let userData = JSON.parse(localStorage.getItem('UserData'))
            let userid = userData.id
            document.getElementById('Creading').onsubmit = () => {
                let checking = document.getElementById('checking')
                checking.setAttribute('value' , userid)
    
                return true
            }
        } else {
            document.getElementById('Creading').onsubmit = () => {
                return false
            }
        }

        let lis = document.querySelectorAll('ul li')

        lis.forEach((li) => {
            li.addEventListener('click' , function () {
                window.localStorage.setItem('planets' , li.dataset.satalites)
                let Allcontent = document.querySelectorAll('.content')
                Allcontent.forEach((content) => {
                    content.classList.remove('active')
                })
                document.getElementById(li.dataset.satalites).classList.add('active')
            })
        })

        // +++++++++++++++++ For list Nav +++++++++++++++++

        function block() {
            let click = document.getElementById('listLogo')
            click.onclick = function () {
                document.getElementById('listUl').classList.toggle('show');
            };

            document.getElementById('listUl').onclick = function () {
                document.getElementById('listUl').classList.toggle('show')
            }
        }

        // ++++++++++++++++++++ Loading Page ++++++++++++++++++++++++
        window.onload = () => {
            let LoadingPage = document.querySelector('#loadingPage')

            LoadingPage.style.opacity = '1'
            LoadingPage.style.display = 'flex' 
            document.body.style.overflow = 'hidden'

            setTimeout(() => {
                document.body.style.overflow = 'auto'
                LoadingPage.style.opacity = '0'        
            }, 3000);

            setTimeout(() => {
                LoadingPage.style.display = 'none'
            }, 4000);

        }


        // Sharing Links social media

        function shareFacebook(href) {
            window.open(href , 'fbwin' , 'left=20 , top=10 , width=300 , height=600 , resizable=0')
        }
        function shareTwitter(href) {
            window.open(href , 'fbwin' , 'left=20 , top=10 , width=300 , height=600 , resizable=0')
        }

        // ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
        let copyright = document.querySelector('.copyright .end-text p')

        let year = new Date()

        copyright.innerHTML =` &copy; Copyright ${year.getFullYear()} SYF`

    </script>
</body>
</html>