<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SEO  -->
    <meta name="title" content="ููู ุงุฐุงูุฑ ูุงุฏุฉ ุงูููุฒูุงุก">
    <meta name="Description" content="ูุนู ุฅู ุงูููุฒูุงุก ูุงุฏุฉ ุตุนุจุฉ ููุงูู ูู ุญุงููุช ุชุจุณูุทูุง ุนูู ููุณู ุ ุฅููู 5 ุทุฑู ูุชุจุณูุท ูุงุฏุฉ ุงูููุฒูุงุก ุญุชู ุชุชููู">
    <meta name="keywords" content=" ุงูููุฒูุงุก , ููู ุงุฐุงูุฑ ูุงุฏุฉ ุงูููุฒูุงุก , ุงูููุฒูุงุก ูุงุฏุฉ ุตุนุจุฉ , ุงููุฐุงูุฑุฉ , ุงูุซุงูููุฉ , ูุง ูุจู ุงูุฌุงูุนุฉ , ููู ุงุฐุงูุฑ">
    <meta name="theme-color" content="#26b0ff">
    <meta name="robots" content="index,follow">
    <meta name="auther" content="Space Youth Forum ููุชุฏู ุดุจุงุจ ุงููุถุงุก">
    <!-- End SEO -->
    <meta property="og:site_name" content="5 ุทุฑู ููุชุนุฉ ุณุชุฌุนู ุงูููุฒูุงุก ูู ุงูุงูุถู"/>
    <meta property="og:title" content="ููู ุงุฐุงูุฑ ูุงุฏุฉ ุงูููุฒูุงุก" />
    <meta property="og:locale" content="ar_AR" />
    <meta property="og:description" content="ูุนู ุฅู ุงูููุฒูุงุก ูุงุฏุฉ ุตุนุจุฉ ููุงูู ูู ุญุงููุช ุชุจุณูุทูุง ุนูู ููุณู ุ ุฅููู 5 ุทุฑู ูุชุจุณูุท ูุงุฏุฉ ุงูููุฒูุงุก ุญุชู ุชุชููู" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="../image/physics-go.png" />

    <!-- Css Files  -->
    <link rel="stylesheet" href="../normalize.css">
    <link rel="stylesheet" href="../Topics.css">
    <link rel="stylesheet" href="../animation.css">


    <!-- Logo for the website -->
    <link rel="icon" href="../image/logo.ico">
    <link rel="apple-touch-icon" href="../image/logo.ico">
    <link rel="apple-touch-icon-precomposed" href="../image/logo.ico">
    <link rel="shortcut icon" href="../image/logo.ico">
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/fa3c9a78d2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Font Links  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa&family=Cinzel+Decorative:wght@400;700&family=Markazi+Text&family=Quintessential&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet">
    <title>ููู ุงุฐุงูุฑ ูุงุฏุฉ ุงูููุฒูุงุก</title>
</head>
<body>

    <!-- Start header  -->
    <%- include('partials/header')  %> 
    <!-- End header -->

    
    <div class="Sphysics">
        <div class="overlay">
            <div class="image-title">
                <img src="../image/Sphysics.png" alt="Artificial Intelligence">
                <h3>ููุงุฐุง ูุนุชูุฏ ุฃู ุงูููุฒูุงุก ูุงุฏุฉ ูุนูุฏุฉ</h3>
            </div>

            <div class="topic">
                <p>
                    ุฅู ุงูููุฒูุงุก ูุงุฏุฉ ูุนูุฏุฉ ุญูุงู ู ูุตุฏุฑ ููู ููุฌููุน ุ ููุงูู ูู ุชูููุช ุณุงุจูุงู ูู ุงูุชูููุฑ ุจุทุฑู ุชุฌุนููุง ุฃุจุณุท ู ุฃูู ุชุนููุฏุงู ุ <br>
                    <span>ุฅููู ุงูุขู 5 ุทุฑู ุณุชุฌุนู ูุงุฏุฉ ุงูููุฒูุงุก ูู ุงูุฃุจุณุท </span>
                    ูู ูุฐุง ูููู ุ! ๐ค <br>
                    ุฃุฌู .. ู ุณุชุตุจุญ ูู ุงููุชููููู ุงูุถุงู <br> <br>
                    
                    <span>1- ูุฌุจ ุฃู ุชุชุญุฑู ูุตุฏุฑ ุงูุชุนููุฏุงุช ู ุชููู ุจุญููุง </span>
                    ููุฑู ููู ุชููู ุงูุทุฑููุฉ ุงูุฃุนุชูุงุฏูุฉ ูุฏุฑุงุณุฉ ูุงุฏุฉ ุงูููุฒูุงุก ููุนุธู ุงูุทูุงุจ <br>
                    ูู ุงูุจุฏุงูุฉ ูุชู ุดุฑุญ ุงูุฏุฑุณ ูู ููุจู ุงููุนูููู ู ุชุฏููู ุงูููุงุญุธุงุช ู ุงูููุงููู ุงููุงูุฉ ู ุงูุชุฏุฑูุจ ุนูู ุญู ุงููุนุงุฏูุงุช ู ุงููุณุงุฆู ูุน ุงููุนูู ุ ุซู ุญู ุงูุชุฏุฑูุจุงุช ุจุฏูู ูุณุงุนุฏุฉ ุญุชู ูุตูุฑ ุงูุทุงูุจ ูุงุฏุฑุงู ุนูู ุงูุญู ุจููุฑุฏุฉ ู ุชุตูุญ ุงุฎุทุงุกู .  <br>
                    ูููู ุจุชุญุฏูุฏ ุจุนุถ ุงูููุงุท ุงูุชู ูุฏ ุชูุซู ูุตุฏุฑุงู ูููุดุงูู ุงูุชู ููุงุฌููุง ุงูุทูุงุจ . <br>
                    <strong>  ุงููุงู : <em> ุฃุณููุจ ุงูุดุฑุญ </em> </strong> <br>
                    ูุง ููุฌุฏ ุดุฎุตุงู ูููุง ููุณ ุงูุชูููุฑ ุ ู ุจุงูุชุงูู ูุง ููุฌุฏ ูุฏุฑุณุงู ูููุง ููุณ ุฃุณููุจ ุงูุดุฑุญ ุ ู ูุนุชูุฏ ุฃุณููุจ ุดุฑุญ ุงููุนูู ุนูู ูุฏู ุงุณุชูุนุงุจ ุงูุทูุงุจ ูู ู ููู ูุณุชูุจููู ุงููุนูููุงุช . <br>
                    ูุฅุฐุง ูุงูุช ูุฐู ุงุญุฏู ูุดุงููู ููู ุจุชุบูุฑ ุงููุฏุฑุณ ุญุชู ุชุฌุฏ ูู ูุณุชุทูุน ุฃู ูุจุณุท ูู ุงููุนูููุงุช ู ูุฑุชุจูุง ูู ุนููู ุจุฃุณููุจู ุงูุฎุงุต . <br>
                    
                    <strong>  ุซุงููุงู : <em> ุทุฑููุฉ ุงูุชุฏููู </em> </strong> <br>
                    ูุง ุชูู ุจูุชุงุจุฉ ูู ูุง ููููู ุงููุนูู ุ ุจู ูู ุจูุชุงุจุฉ ุฃูู ุงูููุงุญุธุงุช ูุซู ุงูููุงููู ู ุงูููุงููู ุงูุชู ุณูู ุชุณุงุนุฏู ูู ุญู ุงููุณุงุฆู ุงููุชุนููุฉ ุจุงูุฏุฑุณ . <br>
                    ู ูุญุงููู ููู ุงูุฃุณุงุณูุงุช ู ุงูููุงููู ุงููุงูุฉ ุงูุชู ูุจูู ุนูููุง ุงูุฏุฑุณ ู ูุชุงุจุชูุง ุจุทุฑููุชู ุงูุฎุงุตุฉ ุญุชู ูุณูู ุนููู ุชุฐูุฑูุง ุจุฏูู ุงูุฑุฌูุน ุงูู ููุงุญุธุงุชู . <br>
                    
                    <strong>  ุซุงูุซุงู : <em> ุญู ุงููุณุงุฆู ูุน ุงููุนูู </em> </strong> <br>
                    ุงุซูุงุก ุญู ุงููุณุงุฆู ุงูููุฒูุงุฆูุฉ ูุน ุงููุนูู ูุฌุจ ุนููู ุงูุชุฑููุฒ ุจุตูุฑุฉ ุฃูุจุฑ ูุฃู ุนูู ุงูุงูุณุงู ููุชูู ุฅูู ุฃุณููุจ ุงูุชุนูู ุงูุนููู ู ููุณ ุงููุธุฑู ุ ููู ุงูุฃูุถู ุฃู ุชููู ุจุญู ุงููุณุฃูุฉ ูุฑุฉ ุฃุฎุฑู ุจุนุฏ ุฃู ููุชูู ุงููุฏุฑุณ ูู ุญููุง ุ ุญุชู ุชูุธู ุงูุฌุงูุจ ุงูุนููู ู ุญุชู ุฅู ูุดูุช ูุณุชุณุชุทูุน ุฃู ุชุฑู ุงูุฎุทุฃ ูุชุชุนูู ููู ุญุชู ูุง ูุชูุฑุฑ . <br>
                    ู ูู ุฏุฑุงุณุฉ ุชุคูุฏ ุฃู ุงูุฃูุณุงู ูุชุนูู ูู ุงูุชุฌุงุฑุจ ุงูุญูุงุชูุฉ ุฃูุซุฑ ุจูุซูุฑ ูู ุงููุนูููุงุช ุงููุธุฑูุฉ . <br>
                    
                    <strong>  ุฑุงุจุนุงู : <em> ุงูุญู ุงููุฑุฏู </em> </strong> <br>
                    ุจุงูุชุฃููุฏ ุฅุฐุง ููุช ุจุฃุชุจุงุน ูุง ุณุจู ููู ุชูุงุฌู ุฃูู ูุดููุฉ ูู ุญู ุงููุงุฌุจุงุช ุงูููุฒููุฉ ู ุงูุชุฏุฑูุจุงุช ุงููุฑุฏูุฉ ุจู ู ุณุชุตุจุญ ูุงุฏุฑุงู ุนูู ุชุญุตูู ุฏุฑุฌุงุช ููุชุงุฒุฉ . <br><br>
                    
                    ููุงูู ูู ูุฐุง ูู ุดูุก ุ <br>
                    ุจุงูุทุจุน ูุง ุ ุงูุช ุงูุขู ูุงุฏุฑ ุนูู ุญู ุงููุณุงุฆู ู ุงููุงุฌุจุงุช ุจุฏูู ููุงุฌู ุชุนููุฏุงุช ููููู ูู ุชุญุชุฑู ุงูููุฒูุงุก ุจุนุฏ ! <br> <br>
                    
                    <span>2- ุชูููุฉ ููุงุฑุงุชู ูู ุงูุฑูุงุถูุงุช </span>
                    ุงูููุฒูุงุก ุชุณุชูุฏ ุจุดูู ูุจูุฑ ุนูู ุงูุฑูุงุถูุงุช ุจูู ูุฑูุนูุง ( ุฌุจุฑ โ ููุฏุณุฉ โ ุชูุงุถู ู ุชูุงูู โ ุฎูุงุฑุฒููุงุช ) ุ ููุฐุง ูุฌุจ ุนููู ุงูุชุทููุฑ ุงูุฏุงุฆู ูู ูุฌุงู ุงูุฑูุงุถูุงุช ู ุณูู ุงูุฏู ูู ุจุนุถ ุงูุจุฑุงูุฌ ู ุงูููุงูุน ู ุงูุฃูุนุงุจ ุงูุชู ุณููุช ุชุณุงุนุฏู ุนูู ุฒูุงุฏุฉ ุชุฑููุฒู ู ุฎุจุฑุชู ูู ุงููุณุงุฆู ุงูุฑูุงุถูุฉ ุ ุจุงูุฅุถุงูุฉ ุฅูู ุจุนุถ ุงูููุฑุณุงุช ุงูุชู ุณุชุคููู ุฅูู ุงุญุชุฑุงู ุงูุฑูุงุถูุงุช ุ ู ูุฐุง ุณูุฑูุน ูู ูุณุชูู ุฐูุงุฆู ุจุดูู ูุจูุฑ . <br>
                    
                    <strong>  <em> ุงูุจุฑุงูุฌ : </em> </strong> <br>
                    
                    1-	<a href=https://play.google.com/store/apps/details?id=com.nsc.mathformulas.lite> Maths formulas free </a>
                    <br>
                    2-	<a href=https://play.google.com/store/apps/details?id=com.digitalduwaji.mathstep_by_step>Division With Ibbleobble </a>
                    <br>
                    
                    3-	<a href=https://play.google.com/store/apps/details?id=com.microblink.photomath> Photomath </a>
                    <br>
                    
                    4-	<a href="https://play.google.com/store/apps/details?id=com.BlackGames.MathRiddles">Math Riddles</a>
                    <br>
                    <strong>  <em>ุงูููุงูุน : </em> </strong> <br>
                    
                    1 - <a href="https://uk.ixl.com"> IXL Maths </a>
                    <br>
                    2- <a href="https://www.shmoop.com">Shmoop</a>
                    <br>
                    <strong>  <em> ููุฑุณุงุช ูุฌุงููุฉ : </em> </strong> <br>
                    1-	<a href="https://www.youtube.com/playlist?list=PLybg94GvOJ9FoGQeUMFZ4SWZsr30jlUYK"> Mathematics (All of it ) </a>
                    <br>
                    2-	<a href="https://www.youtube.com/playlist?list=PLm0X8hqw4lIotQB9ep0MKVkT2447Lk2ue">MIT Mathematics </a>
                    <br>
                    
                    
                    ุฃูุช ูุณุช ูุทุงูุจุงู ุจูุดุงูุฏุฉ ูู ูุฐุง ุงูุขู ุจุงูุทุจุน ููุงูู ูู ุงูุฃูุถู ุงู ุชุฎุตุต ูู ูู ููุชู ูู ุงูุงุฌุงุฒุฉ ุงูุตูููุฉ . <br> <br>
                    
                    <span>3-ุงูููุฒูุงุก ููุณุช ุตุนุจุฉ  </span>
                    ุฏุงุฆูุง ูุง ูุจุชุนุฏ ุนู ุฃุดูุงุก ูุซูุฑุฉ ููุฌุฑุฏ ุณูุงุนูุง ุฃููุง ุณูุฆุฉ ุงู ุบูุฑ ูุฌุฏูุฉ ุงู ุตุนุจุฉ ุ ุญุชู ุจุฏูู ุฃู ูููู ุจุชุฌุฑุจุชูุง ู ูุจุชุนุฏ ุนููุง ููุฌุฑุฏ ุฃููุง ูุนุฑููุฉ ุจุตุนูุจุชูุง ุ ููุงูู ูุฐุง ููุณ ุตุญูุญุงู ุ ููู ุบูุฑ ุงูููุทูู ุฃู ุชููู ุจููู ุงููุงุฏุฉ ุจุฏูู ูุญุงููุฉ ูุฐุงูุฑุชูุง . <br>
                    ู ููุณ ุดุฑุทุงู ุฃู ุชุทูู ููููุง ู ุญููุง ูู ุฃูู ูุฑุฉ ุ ูู ูุง ุนููู ูู ุฃู ุชุจุฏุฃ ุจุนููู ู ุชุจุณุท ุงูุฃูุฑ ุนูู ููุณู ู ุชููู ุจุญู ุงููุณุงุฆู ู ุงูุชุฌุฑุจุฉ ูุฑุฉ ุชูู ุงูุฃุฎุฑู ุญุชู ูุตุจุญ ุงูุฃูุฑ ูุณูุฑุงู ู ููุณ ุจุงูุตุนูุจุฉ ุงูุชู ููุช ุชุชุฎูููุง ูู ุจุฏุงูุฉ ุงูุฃูุฑ . <br> <br>
                    
                    <span>4- ุงุณุชูุชุน ุจููุชู ุงุซูุงุก ุงููุฐุงูุฑุฉ </span>
                    ุบุงูุจุงู ูุง ุชููู ุงูุฃูุฏุงู ูู ุงูุทุงูุฉ ุงูุฅุถุงููุฉ ุงูุชู ุชุณุงุนุฏ ุงูุงูุณุงู ุนูู ุงูุงุณุชูุฑุงุฑ ูู ุชูุฏูุฉ ุ ู ุญุชู ุชุตุจุญ ุงูููุฒูุงุก ุฃุณูู ู ุฃุจุณุท ุนููู ุฃู ุชูุณู ุงูุฏุฑุณ ุงูู ุฃุฌุฒุงุก ู ุชููู ุจูุฐุงูุฑุฉ ูู ุฌุฒุก ุนูู ุญุฏู ู ุญู ุชุฏุฑูุจุงุชู ู ุงุนุชุจุงุฑู ูุฏู ุตุบูุฑ ูุชููู ูุฏู ุตุบูุฑ ุญุชู ุชุตู ุงูู ุงููุฏู ุงููุจูุฑ ู ูู ููู ุงูุฏุฑุณ ู ูุฐุงูุฑุชู ู ุญู ุชุฏุฑูุจุงุชู . <br> 
                    ุณุชุฌุฏ ุงูู ูุฏ ุญููุช ุฅูุฌุงุฒุงุช ูุซูุฑุฉ ูู ููู ูุงุญุฏ ู ุณูููู ุฏุงูุนุงู ูู ุจุงูุงุณุชูุฑุงุฑ ูู ุจุงูู ุงูููุงุฏ . <br>
                    ุฅุฐุง ููุช ุชุญุจ ุงูุฑุณู ููู ุจุนูู ุฎุฑูุทุฉ ูููุงุญุธุงุชู ุฃุซูุงุก ุงููุฐุงูุฑุฉ ุจุดูู ุฌููู ู ุณุงุนุฏ ุจูุง ููุณู ู ุฒููุงุกู . <br>
                    ูู ุจูุดุงูุฏุฉ ุชุฌุงุฑุจ ูุงูุนูุฉ ููุง ุชุฏุฑุณู ุ ูุฃู ูุฐุง ุณูุณุงุนุฏู ุนูู ุงูุชุฐูุฑ ุจุดูู ุงูุถู ุจูุซูุฑ . <br>
                    ุงุซูุงุก ุญู ุงูุชุฏุฑูุจุงุช ูุง ุชุชุณุฑุน ู ุฅุฐุง ูุงุฌูุช ุฃู ุตุนูุจุฉ ููุฐุง ุดูุก ุทุจูุนู ู ููุณ ุชูุตูุฑุงู ููู ุ ููุฑ ุจููุทููุฉ . <br> <br>

                    <span>5- ูุง ุชููุฑ ูุทุงูุจ ุ ุจู ูุนุงูู </span>
                    ูู ุงูููุชุน ู ุงูุดูู ุฃู ุชุตุจุญ ุนุงููุงู ููุฒูุงุฆูุงู ุ ุงุฎุชุฑ ูุฏูุฉ ูู ุงูุนููุงุก ุงูููุถููู ูุฏูู ู ููุฑ ูุซููู . <br>
                    ูุฐุง ุณูุณุงุนุฏู ุนูู ุชุฎุทู ุงูููู ูู ุงููุงุฏุฉ ู ูููู ูู ุงูุชุนููุฏ ุงูุฐู ุชููุฑ ุจู ุญุงู ุฏุฑุงุณุชู ููุงุฏุฉ ุงูููุฒูุงุก . <br>
                    ุจู ู ุณูุตุจุญ ุฏุงูุนุงู ูู ููุงุณุชูุฑุงุฑ ูู ุงูุฏุฑุงุณุฉ ู ุงูุจุญุซ ุนู ุญู ูููุดููุงุช ุงูุชู ุชูุงุฌููุง ูู ุงููุณุงุฆู ุงูููุฒูุงุฆูุฉ ุ ูุฃู ุนุงููู ูุฏ ูุงุฌู ูุดุงูู ูุง ุชุนุฏ ููุง ุชุญุตู ุ ู ูุงููุง ุจุชุฌุงุฑุจ ูุซูุฑุฉ ุญุชู ุชููููุง ูู ุงููุตูู ุงูู ุฃูุฏุงููู . 
                    <br><br>


                    ุงูุขู ู ุจุนุฏ ุฃู ุงุณุชุฑุฌุนุช ุทุงูุชู ุ ูู ุงูุช ุฌุงูุฒ ูุชุตุจุญ ูู ุงููุชููููู ูู ูุงุฏุฉ ุงูููุฒูุงุก ุ <br>
                    ุฃุชููู ุฃู ุฃููู ูุฏ ุฃุถูุช ุงููู ุดูุฆุงู ุฌุฏูุฏุงู ูุณุงุนุฏู ุนูู ุงููุตูู ุงูู ูุง ุชุทูุญ . <br>
                    
                    ุฅุฐุง ุงุฑุฏุช ูุฑุงุกุฉ ุงููุฒูุฏ ูู ุงูููุงูุงุช ุ ููููู ุงูุฒูุงุจ ุงูู ูุณู ุงูููุถูุนุงุช ู ุงูุงุณุชูุชุงุน ุจุงููุฑุงุกุฉ ู ูุดุงุฑูุฉ ุขุฑุงุกู ุนุจุฑ ุฌุฑูุจ  <a href="https://www.facebook.com/groups/spaceyouthforum">ููุชุฏู ุดุจุงุจ ุงููุถุงุก</a> ุนูู ุงูููุณุจูู
                    </p>
            </div>
        </div>

        <div class="checkReaded">
            <h6>ูู ุฃุชููุช ูุฑุงุกุฉ ุงูููุงู</h6>
            <form method="post" id="Creading" action="/read">
                <input type="checkbox" name="articalName" value="ููู ุชุฐุงูุฑ ุงูููุฒูุงุก" checked>
                <input type="checkbox" name="userID" id="checking" checked>
                <button>ูุนู</button>
            </form>
        </div>

        <div class="Share">
            <div class="text">
                <h6>ูุดุงุฑูุฉ ุงูููุงู</h6>
            </div>
            <div class="clicking">
                <div class="fbC bot"><a href="#shareFacebook" onclick="shareFacebook('https://www.facebook.com/sharer/sharer.php?u=https://space-youth-forum.herokuapp.com/Topics/Sphysics')"><i class="fa-brands fa-facebook-f"></i><h5>Facebook</h5></a></div>
                <div class="twC bot"><a href="#shareTwitter" onclick="shareTwitter('http://www.twitter.com/share?url=https://space-youth-forum.herokuapp.com/Topics/Sphysics')"><i class="fa-brands fa-twitter"></i><h5>Twitter</h5></a></div>
            </div>
        </div>
    
    </div>

    <div class="ads-conter">
        <hr>
        <h6>ุฃุนูุงู</h6>
        <fieldset>
            
        </fieldset>
        <hr>
    </div>


    <section class="copyright">
        <div class="end-text">
            <p> &copy; Copyright 2022 Space Youth Forum</p>
        </div>
    </section>

    
    <!-- Loading page  -->
    <div id="loadingPage">
        <div class="space">
            <div class="f-circle"></div>
            <div class="s-circle"></div>
            <div class="t-circle"></div>
            <div class="circle"></div>
        </div>
    </div>


    <script>
        
        if (localStorage.getItem("UserData")) {
            let userData = JSON.parse(localStorage.getItem('UserData'))
            let userid = userData.id
            document.getElementById('Creading').onsubmit = () => {
                let checking = document.getElementById('checking')
                checking.setAttribute('value' , userid)
    
                return true
            }
        } else {
            document.getElementById('Creading').onsubmit = () => {
                return false
            }
        }

        function block() {
            let click = document.getElementById('listLogo')
            click.onclick = function () {
                document.getElementById('listUl').classList.toggle('show');
            };

            document.getElementById('listUl').onclick = function () {
                document.getElementById('listUl').classList.toggle('show')
            }
        }

        // Sharing Links social media

        function shareFacebook(href) {
            window.open(href , 'fbwin' , 'left=20 , top=10 , width=300 , height=600 , resizable=0')
        }
        function shareTwitter(href) {
            window.open(href , 'fbwin' , 'left=20 , top=10 , width=300 , height=600 , resizable=0')
        }

        // ++++++++++++++++++++ Loading Page ++++++++++++++++++++++++
        window.onload = () => {
            let LoadingPage = document.querySelector('#loadingPage')

            LoadingPage.style.opacity = '1'
            LoadingPage.style.display = 'flex' 
            document.body.style.overflow = 'hidden'

            setTimeout(() => {
                document.body.style.overflow = 'auto'
                LoadingPage.style.opacity = '0'        
            }, 3000);

            setTimeout(() => {
                LoadingPage.style.display = 'none'
            }, 4000);

        }

        // ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
        let copyright = document.querySelector('.copyright .end-text p')

        let year = new Date()

        copyright.innerHTML =` &copy; Copyright ${year.getFullYear()} SYF`

    </script>
</body>
</html>
