<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO  -->
    <meta name="title" content="Space Youth Forum | ููุชุฏู ุดุจุงุจ ุงููุถุงุก">
    <meta name="Description" content="Space Youth Forum | ููุงุถูุน ูุชููุนุฉ ุนู ุงููุถุงุก ู ุชุงุฑูุฎู">
    <meta name="keywords" content="ุนูู ุงูููู , ููุงุถูุน ุนู ุงูููู , ุงูุงููุงุฑ ุงูุตูุงุนูู , ุงููุฌููุนุฉ ุงูุดูุณูุฉ , ูุญุทู ุงููุถุงุก ุงูุฏูููู , ุดุจุงุจ ุงููุถุงุก , ุงููุฒูุงุก ุงูููููุฉ">
    <meta name="auther" content="space-youth-forum.firebaseapp.com">
    <meta name="theme-color" content="#26b0ff">
    <meta name="robots" content="index,follow">

    <!-- End SEO -->
    <meta property="og:site_name" content="Space youth Forum | ููุงุถูุน ูุชููุนุฉ ูุฑูุงุฏ ุงููุถุงุก"/>
    <meta property="og:title" content="Space Youth Forum | ููุชุฏู ุดุจุงุจ ุงููุถุงุก " />
    <meta property="og:locale" content="ar_AR" />
    <meta property="og:description" content="ููุชุฏู ุดุจุงุจ ุงููุถุงุก ูู ุฃูู ูููุน ูู ุงููุทู ุงูุนุฑุจู ููุฏู ุฅูู ูุดุฑ ุนูู ุงูููู ุจูู ุงููุดุก ู ุงูุดุจุงุจ ูู ูุฎุชูู ุงูุฃุนูุงุฑ ูุฎูู ุฌูู ุทููุญุฉ ุงููุถุงุก ูุชุทูุนุงุชู ุชุตู ุงูู ุงูุณูุงุก ๐โจ" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://space-youth-forum.firebaseapp.com" />

    <!-- Css Files  -->
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="Topics-&-Podcasts.css">
    <link rel="stylesheet" href="animation.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- Logo for the website -->
    <link rel="icon" href="image/logo.ico">
    <link rel="apple-touch-icon" href="image/logo.ico">
    <link rel="apple-touch-icon-precomposed" href="image/logo.ico">
    <link rel="shortcut icon" href="image/logo.ico">

    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/fa3c9a78d2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Font Links  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa&family=Cinzel+Decorative:wght@400;700&family=Markazi+Text&family=Quintessential&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet">
    <script src="//cdn.ckeditor.com/4.18.0/standard/ckeditor.js"></script>
    <title>ููุงุถูุน ูุชููุนุฉ ุนู ุนูู ุงูููู</title>
</head>
<body>

    <!-- Start header  -->
    <header>
        <div class="contener">
            <div class="logo">
                <a href="https://space-youth-forum.firebaseapp.com"><img src="image/Logo.png" alt="logo"></a>
                <h1 class="title-h1">Space Youth Forum</h1>
            </div>
            <div class="navegation">
                <nav>
                    <div class="i" id="listLogo" onclick="block()">
                        <span class="i1"></span>
                        <span class="i2"></span>
                        <span class="i3"></span>
                    </div>
                    <ul id="listUl">
                        <li><a href="/Home">ุงูุฑุฆูุณุฉ</a></li>
                        <li><a href="/Challenges">ุงูุชุญุฏูุงุช</a></li>
                        <li><a href="/Events">ุงูุฃุญุฏุงุซ</a></li>
                        <li><a href="/Top">ุงููุชุตุฏุฑูู</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class="section-view">
        <div class="title">
            <h2>Topics</h2>
            <p>ูุฑุงุกุฉ ุงูููุงูุงุช ู ุฃูุชุณุงุจ ุงููุนุฑูุฉ ุฃูุฑ ููุชุน ุญูุงู</p>
        </div>
        <div class="content-topics">
            <div data-aos="fade-left" class="title-topic">
                <img src="image/solar-system.png" alt="ุงููุฌููุนุฉ ุงูุดูุณูุฉ">
                <div class="enter">
                    <h4>ุงููุฌููุนุฉ ุงูุดูุณูุฉ</h4>
                    <a href="/Topics/Solar-system" onclick="">ุฃูุชุณุงุจ ูุนุฑูุฉ</a>
                </div>
            </div>
            <div data-aos="fade-right" class="title-topic">
                <img src="image/crew-Intro.png" alt="Space Youth Forum , Crew Nasa , ุทุงูู ูุงุณุง">
                <div class="enter">
                    <h4>ุทุงูู ุฑูุงุฏ ุงููุถุงุก</h4>
                    <a href="/Topics/Crew" onclick="">ุฃูุชุณุงุจ ูุนุฑูุฉ</a>
                </div>
            </div>
            <div data-aos="fade-right" class="title-topic">
                <img src="image/satelite.png" alt="Space Youth Forum , satelite , ุงูุงููุงุฑ ุงูุตูุงุนูู">
                <div class="enter">
                    <h4>ุงูุงููุงุฑ ุงูุตูุงุนูุฉ</h4>
                    <a href="/Topics/Satalites" onclick="">ุฃูุชุณุงุจ ูุนุฑูุฉ</a>
                </div>
            </div>
            <div data-aos="fade-right" class="title-topic">
                <img src="image/celestial-Intro.png" alt="Space Youth Forum , ุงูุงุฌุฑุงู ุงูุณูุงููุฉ">
                <div class="enter">
                    <h4>ุงูุงุฌุฑุงู ุงูุณูุงููุฉ</h4>
                    <a href="/Topics/Celestial-Object" onclick="">ุฃูุชุณุงุจ ูุนุฑูุฉ</a>
                </div>
            </div>

            <% dataA.forEach(data => { %>
             
                <div data-aos="fade-left" class="title-topic">
                    <img src="<%=data.title.Afile %>" alt="<%= data.title.Atitle %> ">
                    <div class="enter">
                        <h4><%= data.title.Atitle %></h4>
                        <a href="/Topics/<%= data.id %> " onclick="">ุฃูุชุณุงุจ ูุนุฑูุฉ</a>
                    </div>
                </div>

            <% }) %>


        </div>

        <div class="title">
            <h2>ูุง ูุจู ุงูุฌุงูุนุฉ</h2>
            <p>ูุนูู ุฃูู ุชุจุฐู ุฌูุฏุงู ุ ู ููุฐุง ูุฃูุช ุชุณุชุญู ุฃู ุชุชุนูู</p>
        </div>
        
        <div class="content-topics">
            <div data-aos="fade-left" class="title-topic">
                <img src="image/physics.png" alt="ููู ุชุฐุงูุฑ ุงูููุฒูุงุก">
                <div class="enter">
                    <h4>ููู ุชุฐุงูุฑ ุงูููุฒูุงุก</h4>
                    <a href="Topics/Sphysics" onclick="">ููู ุ</a>
                </div>
            </div>
        </div>

        <div id="AddingForm" class="addingTopics">
            <h3>ุฅุถุงูุฉ ููุงูุฉ</h3>
            <form id="addArForm" action="/topics" method="POST">
                <input type="text" name="Atitle" id="Atitle" placeholder="ุนููุงู ุงูููุงูุฉ" required>
                <input type="date" name="Adate" id="Adate" placeholder="ุชุงุฑูุฎ ูุชุงุจุฉ ุงูููุงูุฉ" required>
                <input type="text" name="Awriter" id="Awriter" placeholder="ุจููู / " required>
                <input type="text" name="Afile" id="Afile" placeholder="ุถุน url ุงูุฎุงุต ุจุงูุตูุฑุฉ" required>
                <hr>
                <div class="rules">
                    <h5>ุงูุฑุฌุงุก ุฃุซูุงุก ูุชุงุจุฉ ุงูููุงู ูุฑุงุนุงู ุงูุขุชู :</h5>
                    <ul>
                        <li>1- ุฃู ุชูุชูู ุงูุฌููุฉ ุจููุทุฉ ููู .</li>
                        <li>2- ูู ูููู ุงููุญุชูู ูุงุจู ููุชุนุฏูู ูุจู ููุงููุฉ ูุงูู ุงููููุน .</li>
                        <li>3- ุนุฏู ุชุฑู ุฃู ุฎุงูุฉ ูุงุฑุบุฉ ู ุฅุฐุง ูุงุฌูุชู ุฃู ูุดููุฉ ุชูุงุตู ูุน ุงููุงูู .</li>
                    </ul>
                </div>
                <input type="text" name="Ahead" id="Ahead" placeholder="ุฑุฃุณ ุงูููุถูุน" required>
                <div class="textarea">
                    <textarea name="Atext" id="Atext" placeholder="ุฃูุชุจ ูุต ุงูููุงูุฉ" required></textarea>
                </div>
                <input type="text" name="Alink" id="Alink" placeholder="ูููู ุงูููุงูุฉ ุนูู ุงูููุณุจูู" required>
                <input type="text" name="Awords" id="Awords" placeholder="ุถุน ุงููููุงุช ุงูุฏุงูุฉ" required>
                <textarea name="Adescription" id="Adescription" placeholder="ุฃูุชุจ ูุตู ุฌุฐุงุจ" required></textarea>
                <button>ุฅุถุงูุฉ</button>
            </form>
        </div>

        <hr>
        <div class="Ads">
            <h5>Ads</h5>
            <fieldset>

            </fieldset>
        </div>
        <hr>
    </div>

    

    <section id="footer">
        <div class="container">
            <footer>
                <div class="col-1">
                    <div class="logo"><a href="https://space-youth-forum.web.app/"><img src="image/Logo.png" alt=""></a></div>
                    <p>I'll be very grateful if you share your opinion with me. <br>
                    I hope that this website is usful for you </p>
                </div>
                <div class="col-2">
                    <h2 class="column-heading">Important<br>Links</h2>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="https://ask-me-ques.herokuapp.com">Contact</a></li>
                        <li><a href="/Events">Events</a></li>
                        <li><a href="/Challenges">Challenges</a></li>
                        <li><a href="/Topics">Topics</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <h2 class="column-heading">Contact<br>Info</h2>
                    <ul>
                        <li><a href="mailto:hkrock236@gmail.com?subject=Contact">hkrock236@gmail.com</a></li>
                    </ul>
                </div>
                <div class="col-4">
                    <h2 class="column-heading">Social<br>Links</h2>
                    <ul>
                        <li><a href="https://www.facebook.com/groups/spaceyouthforum/">FB</a></li>
                        <li><a href="https://twitter.com/SpaceYouthForum">TW</a></li>
                        <li><a href="https://www.instagram.com/x_codehr_x/">IG</a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </section>
    
    <section class="copyright">
        <div class="end-text">
            <p> &copy; Copyright 2022 Space Youth Forum</p>
        </div>
    </section>

    <!-- Loading page  -->
    <div id="loadingPage">
        <div class="space">
            <div class="f-circle"></div>
            <div class="s-circle"></div>
            <div class="t-circle"></div>
            <div class="circle"></div>
        </div>
    </div>

    <!-- JavaScript Links -->
    <script>
        if (localStorage.getItem('UserData')) {
            let AddingForm = document.getElementById('AddingForm')
            let userData = JSON.parse(localStorage.getItem('UserData'))
            let userStatus = userData.Ustatus
            if (userStatus === 'admin' || userStatus === 'writer' ) {
                AddingForm.style.display = 'block'
            }
        }

        // +++++++++++++ for List Nav +++++++++++++++++
        
        function block() {
            let click = document.getElementById('listLogo')
            click.onclick = function () {
                document.getElementById('listUl').classList.toggle('show');
                document.querySelectorAll('nav span').forEach(span => span.classList.toggle('span'))
            }
            document.getElementById('listUl').onclick = function () {
                document.getElementById('listUl').classList.toggle('show')
                document.querySelectorAll('nav span').forEach(span => span.classList.toggle('span'))
            }
        }
        
        // ++++++++++++++++++++ Loading Page ++++++++++++++++++++++++
        window.onload = () => {
            let LoadingPage = document.querySelector('#loadingPage')
        
            LoadingPage.style.opacity = '1'
            LoadingPage.style.display = 'flex' 
            document.body.style.overflow = 'hidden'
        
            setTimeout(() => {
                document.body.style.overflow = 'auto'
                LoadingPage.style.opacity = '0'        
            }, 3000);
        
            setTimeout(() => {
                LoadingPage.style.display = 'none'
            }, 4000);
        
        }
        
        // ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
        let copyright = document.querySelector('.copyright .end-text p')
        
        let year = new Date()
        
        copyright.innerHTML =` &copy; Copyright ${year.getFullYear()} SYF`
        CKEDITOR.replace( 'Atext' );
    </script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>