:root {
    --white : #ffffff ;
    --black : #000000 ;
    --gray : #596164 ;
    --main-color-1 : #00beff;
    --main-color-2 : #26b0ff;
    --main-color-3 : #000080 ;
    --main-color-4 : #0084ff ;
    --main-color-5 : #f7f7fb ;
    --main-color-6 : #B2FFFF ;
    --main-font-1 : 'Cairo', sans-serif;
    --main-font-2 :  'Cinzel Decorative', cursive;
    --main-font-3 :  'Quintessential', cursive;
    --main-font-4 :  'Markazi Text', serif;
    --main-transition : 0.5s ease ;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-font-1);
    background: linear-gradient(180deg, var(--main-color-2) 6%, #1381ff) ;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

a {
    text-decoration: none;
    color: #000000;
}

ul {
    list-style: none;
}

/* Start Scroll bar */

::-webkit-scrollbar {
    width: 5px;
    /* display: none; */
}

::-webkit-scrollbar-track {
    background-color: var(--black);
    box-shadow: 0 0 5px var(--white) inset;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color-4);
    border-radius: 10px;
}

::-webkit-scrollbar-corner{
    background-color: #000000;

}

ul::-webkit-scrollbar {
    width: 5px;
    display: none;
}

ul::-webkit-scrollbar-track {
    background-color: var(--black);
    box-shadow: 0 0 5px var(--white) inset;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color-2);
    border-radius: 10px;
}

ul::-webkit-scrollbar-thumb {
    background-color: var(--main-color-2);
    border-radius: 10px;
}

ul::-webkit-scrollbar-corner{
    background-color: #000000;

}


/* End Scroll bar */

/* Start header  */

header {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 2;
}

.contener {
    position: relative;
    width: 100%;
    margin: 0 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color-1) !important;
    min-height: 73.91px;
    flex-wrap: wrap;
    box-shadow: 0 0 10px black;
}

.contener .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 70px;
    margin: 0 10px;
}

.logo h1 {
    max-width: 120px;
    font-size: 1.4rem;
    color: var(--white);
    font-family: var(--main-font-3);
}

.contener .navegation {
    padding: 0 5px ;
}

.navegation nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navegation nav i {
    position: relative;
    font-size: 30px;
    color: var(--white);
}
/* 
.navegation nav i:hover {
    animation: up-down 2s infinite ;
} */

@media (min-width : 768px) {
    .navegation nav i {
        display: none;
    }
}

.navegation nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--main-transition);
}

.navegation nav ul li {
    position: relative ;
    padding: 25px 0;
    overflow: hidden;
    transition: var(--main-transition);
}

.navegation nav ul li::before {
    content : "" ;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0;
    left: 100%;
    background-color: var(--main-color-5) !important;
    transition: var(--main-transition) ;
}

.navegation nav ul li:hover::before {
    left: 0;
    box-shadow: 0 0 20px black;
}

.navegation nav ul li a {
    font-size: 1.2rem;
    padding: 0 10px;
    font-family: var(--main-font-1);
    color: var(--main-color-5) !important;
    transition: var(--main-transition);
}

.navegation nav ul li:hover .btn{
    color: var(--white);
}

.show {
    right: -10px !important;
}

@media (max-width : 767px) {
    .navegation nav ul {
        position: absolute;
        height: 100vh;
        display: flex;
        flex-direction: column;
        width: 250px;
        top: 52px ;
        right: -300px;
        background-color: #000742b0;
        transform: var(--main-transition);
        box-shadow: 0 20px 80px black;
    }

    .navegation nav ul li a {
        color: var(--main-color-6);
    }

    .contener .logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        margin: 5px 0 10px 0;
    }
    .logo img {
        width: 50px;
    }
    .logo h1 {
        font-size: 2rem;
        max-width: 700px;
    }
}

@media (max-width : 400px) {
    .logo img {
        width: 50px;
    }
    .logo h1 {
        font-size: 1.2rem;
        max-width: 700px;
    }
}

@keyframes up-down {
    100%,
    0% {
        margin: 0 0;
    }

    50% {
        margin: 20px 0;
    }
}

/* End header */

.title {
    padding: 100px 0 10px;
    width: 100%;
    text-align: center;
}

.title h2 {
    color: var(--main-color-5);
}

.challengeAsk {
    direction: rtl;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.challengeAsk .image {
    margin: 20px 0;
}

.challengeAsk .image svg {
    width: 500px;
}

.challengeAsk .question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.challengeAsk .question h5 {
    font-size: 1.2rem;
    color: var(--main-color-5);
    text-align: center;
}

.challengeAsk .question form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.challengeAsk .question form input {
    display: none;
}

.challengeAsk .question form label {
    margin: 10px 0;
    font-size: 1.4rem;
    font-family: var(--main-font-4);
    background-color: var(--main-color-5);
    color: var(--main-color-3);
    width: 90%;
    min-width: 300px;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    transition: var(--main-transition);
    cursor: pointer;
}

.challengeAsk .question form label:hover {
    background-color: var(--main-color-1);
}

.challengeAsk .question form input:checked + label {
    background-color: var(--main-color-1);
}

.challengeAsk .question form #reason {
    position: fixed;
    width: 100%;
    height: 0;
    transition: 1s ease-in-out;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.challengeAsk .question form #reason .Creason {
    background-color: #ffffffe0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    position: fixed;
    width: 90%;
    transition: var(--main-transition);
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 10px;
}

.challengeAsk .question form #reason .Creason h4 {
    font-size: 1.6rem;
} 

.challengeAsk .question form #reason .Creason p {
    color: var(--main-color-3);
    max-width: 90%;
    text-align: center;
    font-weight: bold;
}


.challengeAsk .question form button {
    width: 50%;
    margin-top: 10px;
    padding: 10px;
    background-color: var(--main-color-3);
    font-size: 1rem;
    border: none;
    color: var(--main-color-6);
    font-family: var(--main-font-1);
    border-radius: 15px;
    cursor: pointer;
}

.challengeAsk .question form button:hover {
    background-color: #0000bd;
}

@media (max-width : 767px ) {
    
    .challengeAsk .image svg  {
        width: 350px;
    }
}

@media (max-width : 400px ) {
    .title h2 {
        font-size: 1.2rem;
    }

    .challengeAsk {
        margin: 0;
    }

    .challengeAsk .image svg  {
        width: 300px;
    }

    .challengeAsk .question h5 {
        font-size: 0.8rem;
    }
}

